<div id="TipInfoBox" class="card card.bg-primary">
  <div class="card-header" [attr.aria-expanded]="!collapsed" (click)="toggleColLapse(); utilsService.stopPropagation($event)" (keydown.enter)="toggleColLapse(); utilsService.stopPropagation($event)" (keydown.space)="$event.preventDefault(); toggleColLapse(); utilsService.stopPropagation($event)" tabindex="0" role="button">
    <span>{{'Additional questionnaire'|translate}}</span>
  </div>
  @if (!collapsed) {
    <div class="card-body d-flex justify-content-between">
      <div>{{'Recipients have requested you to fill an additional questionnaire.'|translate}}</div>
      <div class="">
        <button class="btn btn-primary" id="open_additional_questionnaire" (click)="tipOpenAdditionalQuestionnaire()">
          <i class="fas fa-check"></i>
          <span>{{'Fill the additional questionnaire'|translate}}</span>
        </button>
      </div>
    </div>
  }
</div>
