<div id="SectionContent" class="reveal">
  <src-tabs>
    <ng-template srcTab="audit_log" title="Audit Log">
      <src-auditlog-tab1></src-auditlog-tab1>
    </ng-template>
    <ng-template srcTab="users" title="Users" [visible]="isAdmin">
      <src-auditlog-tab2></src-auditlog-tab2>
    </ng-template>
    <ng-template srcTab="reports" title="Reports" [visible]="isAdmin">
      <src-auditlog-tab3></src-auditlog-tab3>
    </ng-template>
    <ng-template srcTab="scheduled_jobs" title="Scheduled jobs" [visible]="isAdmin">
      <src-auditlog-tab4></src-auditlog-tab4>
    </ng-template>
  </src-tabs>
</div>
