<div class="card">
    <div class="card-header">{{ 'Primary recipient info' | translate }}</div>
    <div class="card-body text-left">
        <div class="form-group" >
            <label>
                <span>{{'Name'|translate}}</span>
                <span *ngIf="!visualization" class="text-danger">*</span>
            </label>
            <input name="recipientName" class="form-control" [placeholder]="'Name' | translate" type="text" [(ngModel)]="recipientInfo.name" required [disabled]="visualization">
        </div>
        <div class="form-group" >
            <label>
                <span>{{'Surname'|translate}}</span>
                <span *ngIf="!visualization" class="text-danger">*</span>
            </label>
            <input name="recipientSurname" class="form-control" [placeholder]="'Surname' | translate" type="text" [(ngModel)]="recipientInfo.surname" required [disabled]="visualization">
        </div>
        <div class="form-group" >
            <label>
                <span>{{'Fiscal Code'|translate}}</span>
                <span *ngIf="!visualization" class="text-danger">*</span>
            </label>
            <input name="recipientTaxCode" class="form-control" [placeholder]="'Fiscal Code' | translate" type="text" [(ngModel)]="recipientInfo.idp_id" required #recipientTaxCode="ngModel" [disabled]="visualization">
        </div>
        <div class="form-group" >
            <label>
                <span>{{'Email'|translate}}</span>
                <span *ngIf="!visualization" class="text-danger">*</span>
            </label>
            <input name="recipientEmail" class="form-control" [placeholder]="'Email' | translate" type="email" [(ngModel)]="recipientInfo.email" required #recipientEmail="ngModel" [disabled]="visualization">
        </div>
    </div>
</div>