<div id="ReviewFormCard" class="card card-default">
    <div class="card-header d-flex justify-content-between">
        <span>Review Form</span>
    </div>
    <div class="card-body">
        <form #submissionForm="ngForm" id="SubmissionForm" (ngFormChange)="onFormChange()" (ngModelChange)="checkFormValidity(submissionForm)" >
            <div *ngFor="let field of fields" class="form-group">
                <src-tip-field-question-entry (notifyFileUpload)="exampleNotify($event)" [subForm]="submissionForm" [field]="field" [fieldAnswers]="fieldAnswers" [fileUploadUrl]="fileUploadUrl"></src-tip-field-question-entry>
            </div>     
            
            <button id="SubmitButton" class="btn btn-primary" (click)="onSubmit()" [disabled]="tipStatus !== 'opened'" type="submit">{{'Chiudi Istruttoria'|translate}}</button>
        </form>                    
    </div>
</div>