<div id="ReviewFormCard" class="card card-default">
    <div class="card-header d-flex justify-content-between">
        <span>Review Form</span>
    </div>
    <div class="card-body">
        <form>
            <div *ngFor="let field of fields" class="form-group">

                <div *ngIf="field.enabled">
                <label [for]="field.id">{{ field.label }}</label>
                <ng-container [ngSwitch]="field.type">
                    <select *ngSwitchCase="'selectbox'" class="form-control" [id]="field.id" [name]="field.id" [(ngModel)]="fieldAnswers[field.id][0].value">
                        <option *ngFor="let option of field.options" [value]="option.id">{{ option.label }}</option>
                    </select>
                    <div *ngSwitchCase="'checkbox'">
                        <div *ngFor="let option of field.options">
                            <input type="checkbox" [id]="option.label" [name]="field.id" [value]="option.id" [(ngModel)]="fieldAnswers[field.id][0].value" />
                            <label [for]="option.label">{{ option.label }}</label>
                        </div>
                    </div>
                    <div *ngSwitchCase="'multichoice'">
                        <div *ngFor="let option of field.options">
                            <input type="radio" [id]="option.label" [name]="field.id" [value]="option.id" [(ngModel)]="fieldAnswers[field.id][0].value" />
                            <label [for]="option.label">{{ option.label }}</label>
                        </div>
                    </div>

                    <div *ngSwitchCase="'date'">
                        <div class="input-group">
                            <input class="form-control inputelem" [id]="field.id" [name]="field.id" 
                            [minDate]="dateOptions.min_date" [maxDate]="dateOptions.max_date" type="text" readonly="readonly" [attr.aria-label]="field.label" 
                            [(ngModel)]="fieldAnswers[field.id][0].value" [required]="field.required" ngbDatepicker #datepicker="ngbDatepicker" (click)="datepicker.toggle()" />
                            <span class="input-group-append btn btn-light border border-1" (click)="datepicker.toggle()">
                                <i class="fa-solid fa-calendar"></i>
                            </span>
                        </div>
                    </div>

                    <input *ngSwitchDefault type="text" class="form-control" [id]="field.id" [name]="field.id" [(ngModel)]="fieldAnswers[field.id][0].value" />
                    <div *ngSwitchCase="'textarea'">
                        <textarea [(ngModel)]="fieldAnswers[field.id][0].value" [id]="field.id" [name]="field.id" class="form-control inputelem" [required]="field.required" [attr.aria-label]="field.label" [placeholder]="field.placeholder"></textarea>
                        <!-- <div class="clearfix" *ngIf="entry['value']">
                            <div *ngIf="entry['value'].length && field.attrs.max_len.value > 0 && (field.attrs.max_len.value - entry['value'].length) <= 50" class="float-end">{{entry['value'].length}}/{{field.attrs.max_len.value}}
                            </div>
                        </div>
                        <div *ngIf="displayErrors" class="text-danger">
                            <span *ngIf="textarea?.errors?.['required']">{{'This field is mandatory'|translate}}</span>
                            <span *ngIf="textarea?.errors?.['minlength']">{{'The answer is too short'|translate}}</span>
                        </div> -->
                    </div>
                    <div *ngSwitchCase="'daterange'" class="form-inline d-inline-flex align-items-center">
                        <span class="form-group">
                            <label>{{'From'|translate}}</label>
                            <div class="input-group mx-1">
                                <input [id]="field.id+'-startDate'" [name]="field.id+'-startDate'" class="form-control inputelem" [minDate]="dateOptions1" [maxDate]="dateOptions2" type="text" [readOnly]="true" [attr.aria-label]="field.label"  [required]="field.required" [placeholder]="field.placeholder" ngbDatepicker #datepickerstart="ngbDatepicker" (click)="datepickerstart.toggle()" (ngModelChange)="onStartDateSelection(input_start_date)" />
                                <span class="input-group-append btn btn-light border border-1" (click)="datepickerstart.toggle()">
                                    <i class="fa-solid fa-calendar"></i>
                                </span>
                            </div>
                        </span>
                        <span class="form-group mx-1" *ngIf="input_start_date">
                            <label>{{'To'|translate}}</label>
                            <div class="input-group mx-1">
                                <input [id]="field.id+'-endDate'" [name]="field.id+'-endDate'" class="form-control inputelem"  [minDate]="dateOptions1" [maxDate]="dateOptions2" type="text" [readonly]="true" [attr.aria-label]="field.label"  [required]="field.required" [placeholder]="field.placeholder" ngbDatepicker #datepickerend="ngbDatepicker" (click)="datepickerend.toggle()" (ngModelChange)="onEndDateSelection(input_end_date)" />
                                <span class="input-group-append btn btn-light border border-1" (click)="datepickerend.toggle()">
                                    <i class="fa-solid fa-calendar"></i>
                                </span>
                            </div>
                        </span>
                        <span class="ms-1 mt-2 d-inline-flex align-items-center" *ngIf="input_start_date">
                            <button type="button" class="btn btn-outline-secondary" (click)="clearDateRange()">
                                <i class="fa-solid fa-times-circle"></i>
                            </button>
                        </span>
                    </div>
                    <!-- <div *ngSwitchCase="'tos'">
                        <markdown class="form-group tos-text" [data]="field.attrs.text.value | stripHtml"></markdown>
                        <div *ngIf="field.attrs.attachment.value">
                            <a [href]="field.attrs.attachment_url.value" rel="noreferrer" target="_blank">{{field.attrs.attachment_text.value}}</a>
                        </div>
                        <div class="form-check">
                                <input [id]="field.id" [name]="field.id" class="inputelem" [required]="field.required" value="{{field.value}}" type="checkbox" />
                                <label for="{{field.id}}" class="form-check-label"><markdown [data]="field.attrs.checkbox_label.value | stripHtml"></markdown></label>
                        </div>
                    </div> -->
                    <div [id]="field.id" *ngSwitchCase="'voice'">
                        <src-voice-recorder (notifyFileUpload)="notifyFileUpload.emit()" [fileUploadUrl]="fileUploadUrl" [uploads]="uploads" [field]="campo" [entryIndex]="entryIndex" [fieldEntry]="fieldEntry"></src-voice-recorder>
                    </div>
                    <div [id]="field.id" *ngSwitchCase="'fileupload'">
                        <src-rfile-upload-button [file_id]="fieldEntry" (notifyFileUpload)="notifyFileUpload.emit()" [fileUploadUrl]="fileUploadUrl" [uploads]="uploads" [field]="campo" [formUploader]="true"></src-rfile-upload-button>
                    </div>
                    <!-- <div *ngSwitchCase="'fieldgroup'">
                        <div [ngSwitch]="field.attrs.multimedia_type.value">
                            <div *ngSwitchCase="'image'">
                                <img alt="media" [src]="field.attrs.multimedia_url.value" />
                            </div>
                            <div *ngSwitchCase="'audio'">
                                <audio controls>
                                    <source [src]="field.attrs.multimedia_url.value" type="audio/mpeg" />
                                </audio>
                            </div>
                            <div *ngSwitchCase="'video'">
                                <video controls>
                                    <source [src]="field.attrs.multimedia_url.value" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <src-form (notifyFileUpload)="notifyFileUpload.emit()" [identity_provided]="identity_provided" [fileUploadUrl] = fileUploadUrl [fieldEntry]="fieldEntry" [displayErrors]="displayErrors" [entry]="entry" [answers]="answers" [step]="rows" [submission]="submission" [index]="index" [uploads]="uploads"></src-form>
                    </div> -->
                
                </ng-container>
            </div>
            </div>     
            
            <button id="SubmitButton" class="btn btn-primary" [disabled]="tipStatus === 'closed'" type="submit">{{'Chiudi Istruttoria'|translate}}</button>
        </form>                    
    </div>
</div>