<src-list-item class="questionnaire" [(editing)]="editing" [canEdit]="questionnaire().editable" [canDelete]="questionnaire().editable" (save)="saveQuestionnaire(questionnaire())" (deleted)="deleteQuestionnaire(questionnaire())">
  <ng-container title>{{ questionnaire().name }}</ng-container>
  <ng-container actions>
    <button type="button" class="downloadButton btn btn-sm btn-outline-secondary" data-action="export" (click)="exportQuestionnaire(questionnaire())">
      <i class="fas fa-file-export"></i>
      <span>{{ 'Export' | translate }}</span>
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-action="duplicate" (click)="duplicateQuestionnaire(questionnaire())">
      <i class="fas fa-clone"></i>
      <span>{{ 'Duplicate' | translate }}</span>
    </button>
  </ng-container>
  <ng-template #body>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="questionnaire-name-{{questionnaire().id}}">{{ 'Name' | translate }}</label>
          <input id="questionnaire-name-{{questionnaire().id}}" name="name" class="form-control" [(ngModel)]="questionnaire().name" type="text" required>
          @if (editQuestionnaire().form.get('name')?.errors?.['required']) {
            <div class="text-danger">
              <span>{{ 'This field is mandatory' | translate }}</span>
            </div>
          }
        </div>
      </div>
      <div class="col-md-12">
        <src-steps [questionnaire]="questionnaire()" (deleted)="onDelete($event)"></src-steps>
      </div>
    </div>
  </ng-template>
</src-list-item>
