<div class="row">
  @if (step === 1) {
    <div class="col-md-6 wizard-block">
      <src-signupdefault (complete)="complete()" (authenticate)="authenticateWithIDP()" [signup]="signup" [idpRequired]="idpRequired" [idpAuthenticated]="idpAuthenticated" [idpFields]="idpFields"></src-signupdefault>
    </div>
  }
  @if (step === 2) {
    <div class="col-md-12 wizard-block">
      <div class="congratulations">
        <div class="title">{{'Success!'|translate}}</div>
        <div>
          @if (appDataService.public.node.signup_auto_authorize || signup.token) {
            <span>{{'Your whistleblowing platform is almost ready!'|translate}}</span>
            <span>{{'Check your inbox for the credentials.'|translate}}</span>
          }
          @if (!appDataService.public.node.signup_auto_authorize && !signup.token) {
            <span>{{'Your whistleblowing platform registration is waiting for approval.'|translate}}</span>
          }
        </div>
      </div>
    </div>
  }
</div>
