@if (show) {
<div class="row">
  @if (step === 1) {
    <div class="col-md-6 wizard-block">
      <src-signupdefault (complete)="complete()" (authenticate)="authenticateWithIDP()" [signup]="signup" [idpRequired]="idpRequired" [idpAuthenticated]="idpAuthenticated" [idpFields]="idpFields" [idpEmail]="idpEmail"></src-signupdefault>
    </div>
  }
  @if (step === 2) {
    <div class="col-md-12 wizard-block">
      <div class="congratulations">
        <div class="title">{{'Success!'|translate}}</div>
        <div>
          <span>{{'Sign up completed.'|translate}}</span>
          <span>{{'Check your inbox.'|translate}}</span>
        </div>
      </div>
    </div>
  }
</div>
}
