<div class="row">
  @if (step === 1) {
    <div class="col-md-6 wizard-block">
      @if (idpRequired && !idpAuthenticated) {
        <div class="idp-auth-block">
          <div class="title">{{'Identity Provider Authentication'|translate}}</div>
          <p>{{'You must authenticate with your identity provider to proceed.'|translate}}</p>
          <button class="btn btn-primary" type="button" (click)="authenticateWithIDP()">
            <span>{{'Authenticate with IDP'|translate}}</span>
          </button>
        </div>
      }
      @if (!idpRequired || idpAuthenticated) {
        <div>
          <src-signupdefault (complete)="complete()" [signup]="signup"></src-signupdefault>
        </div>
      }
    </div>
  }
  @if (step === 2) {
    <div class="col-md-12 wizard-block">
      <div class="congratulations">
        <div class="title">{{'Success!'|translate}}</div>
        <div>
          @if (appDataService.public.node.signup_auto_authorize || signup.token) {
            <span>{{'Your whistleblowing platform is almost ready!'|translate}}</span>
            <span>{{'Check your inbox for the credentials.'|translate}}</span>
          }
          @if (!appDataService.public.node.signup_auto_authorize && !signup.token) {
            <span>{{'Your whistleblowing platform registration is waiting for approval.'|translate}}</span>
          }
        </div>
      </div>
    </div>
  }
</div>