<div id="OrgOverview" class="card card-default">
    <div class="card-header clearfix" >
        <span>{{'Overview'|translate}}</span>
    </div>
    <div class="card-body" >
        <div class="text-center mb-2">
            <span class="fw-bold">{{'Organization ID'|translate}} : </span>
            <span>{{org.id}}</span>
        </div>
        <div class="text-center mb-2">
            <span class="fw-bold">{{'Organization Name'|translate}} : </span>
            <span>{{org.organization_name}}</span>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" id="orgOverviewTable">
                <thead>
                    <tr>
                        <th>{{'Type'|translate}}</th>                    
                        <th>{{'Accreditation Date'| translate}}</th>
                        <th>{{'Tips'|translate}}</th>
                        <th>{{'Closed Tips'| translate}}</th>
                        <th>{{'Status'| translate}}</th>
                        <th *ngIf="org.instructor_detail">{{'Requested by' | translate}}</th>
                    </tr>
                </thead>
                <tbody id="orgOverviewTableBody">
                    <tr id="orgOverview">
                        <td>{{org.type | translate}}</td>
                        <td>{{org.accreditation_date | date:'dd-MM-yyyy HH:mm'}}</td>
                        <td>{{org.opened_tips}}</td>
                        <td>{{org.closed_tips}}</td>
                        <td>{{org.state | translate}}</td>
                        <td *ngIf="org.instructor_detail">{{org.instructor_detail.username}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
