<app-paginated-interface [mode]="'table'" [items]="table.result" [orderBy]="table.orderBy" [orderDesc]="table.orderDesc">
  <ng-template #header>
    <tr>
      <th scope="col" appTableHeader [state]="table" [label]="'Date' | translate" sortBy="date" filter="date"></th>
      <th scope="col" appTableHeader [state]="table" [label]="'Type' | translate" sortBy="type" filter="severity" [options]="severityOptions"></th>
      <th scope="col" appTableHeader [state]="table" [label]="'Username' | translate" sortBy="username" filter="username" [options]="userOptions"></th>
      <th scope="col" appTableHeader [state]="table" [label]="'Object' | translate"></th>
    </tr>
  </ng-template>
  <ng-template #content let-data="item" let-index="index">
    <tr>
      <td>{{ data.date | date:'dd-MM-yyyy HH:mm' }}</td>
      <td>
        <span class="badge bg-light text-dark">
          <span [class]="getTypeDotColor(data.type)"><i class="fa-solid fa-circle"></i></span> <span>{{ data.type }}</span>
        </span>
      </td>
      <td>{{ data.username }}</td>
      <td>{{ data.object_id }}</td>
    </tr>
  </ng-template>
</app-paginated-interface>
<div class="d-flex justify-content-end"><button class="btn btn-sm btn-link" type="button" (click)="exportAuditLog()"><i class="fas fa-download"></i><span>{{ 'Export' | translate }}</span></button> @if (appDataService.public.node.root_tenant) { <span><a class="btn btn-sm btn-link" type="button" (click)="utilsService.saveAs(authenticationService, 'globaleaks.log', auditLogPath + '/debug')" (keydown.enter)="utilsService.saveAs(authenticationService, 'globaleaks.log', auditLogPath + '/debug')" tabindex="0" role="button"><i class="fas fa-download"></i> globaleaks.log </a><a class="btn btn-sm btn-link" type="button" (click)="utilsService.saveAs(authenticationService, 'access.log', auditLogPath + '/access')" (keydown.enter)="utilsService.saveAs(authenticationService, 'access.log', auditLogPath + '/access')" tabindex="0" role="button"><i class="fas fa-download"></i> access.log</a></span>
}</div>
