<div class="row mb-3 align-items-center">
  <div class="col">
    <button type="button" class="btn btn-primary show-add-redirect-btn" (click)="toggleAddRedirect()">
      <i class="fas fa-plus"></i>
      <span>{{ 'Add' | translate }}</span>
    </button>
  </div>
</div>
@if (showAddRedirect) {
  <div class="row config-section">
    <div ngForm="newRedirect" #newRedirect="ngForm" class="addRedirect col-md-6">
      <div class="form-group">
        <label for="redirect-path-from">{{ 'From' | translate }}</label>
        <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
        <div>
          <input id="redirect-path-from" class="form-control" name="path1" [(ngModel)]="new_redirect.path1" type="text" required />
        </div>
      </div>
      <div class="form-group">
        <label for="redirect-path-to">{{ 'To' | translate }}</label>
        <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
        <div>
          <input id="redirect-path-to" class="form-control" name="path2" [(ngModel)]="new_redirect.path2" type="text" required />
        </div>
      </div>
      <div class="form-group">
        <button id="add_redirect" class="btn btn-primary" [disabled]="newRedirect.invalid" (click)="addRedirect(); toggleAddRedirect()" type="submit">
          <i class="fas fa-plus"></i>
          <span>{{ 'Add' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
}
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'From' | translate }}</th>
          <th>{{ 'To' | translate }}</th>
          <th><span class="visually-hidden">{{ 'Actions' | translate }}</span></th>
        </tr>
      </thead>
      <tbody>
        @for (redirect of redirectData | orderBy:'path1'; track redirect) {
          <tr>
            <td>{{redirectPath(redirect, 1)}}</td>
            <td>{{redirectPath(redirect, 2)}}</td>
            <td>
              <button class="btn btn-sm btn-danger" id="delete_redirect" (click)="deleteRedirect(redirect)">
                <i class="fas fa-trash"></i>
                <span>{{ 'Delete' | translate }}</span>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
