<button class="btn btn-primary" data-cy="open-invite-modal" (click)="openInviteModal()" type="button">
  {{'Invite' | translate}}
</button>
<hr>
<app-paginated-interface [items]="invites" [itemsPerPage]="20" [orderBy]="'creation_date'" [orderDesc]="true">
  <ng-template #content let-item="item" let-index="index">
    <src-collapsible-card data-cy="invite-row" cardClass="config-item reveal" [expanded]="expandedRegistration === item.id" [titleColumns]="6" (toggle)="toggleRegistration(item)">
      <ng-container cardTitle>
          <div>
            <span>{{item.organization_name || '-'}}</span>
          </div>
          <div class="tenant-badge">
            <span class="badge bg-primary me-1">{{ item.status | translate }}</span>
            <span class="badge bg-secondary">{{item.expiration_date | date}}</span>
          </div>
      </ng-container>
      <ng-container cardActions>
            @if (canAcceptOrDeny(item)) {
              <button type="button" class="btn btn-sm btn-primary me-1" data-cy="accept-invite" (click)="$event.stopPropagation(); acceptInvite(item.id)">
                {{'Accept' | translate}}
              </button>
              <button type="button" class="btn btn-sm btn-danger me-1" data-cy="deny-invite" (click)="$event.stopPropagation(); denyInvite(item.id)">
                {{'Deny' | translate}}
              </button>
            }
            @if (canDelete(item)) {
              <button type="button" class="btn btn-sm btn-danger" data-cy="delete-invite" (click)="$event.stopPropagation(); deleteInvite(item.id)">
                {{'Delete' | translate}}
              </button>
            }
      </ng-container>
      @if (expandedRegistration === item.id) {
        <div data-cy="registration-details">
          <hr />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <span>{{'Creation date:'|translate}}</span> {{item.creation_date | date:'dd-MM-yyyy'}}
                </label>
              </div>
              <label data-translate>Organization</label><span>: </span>
              <div class="ms-4">
                <div class="form-group">
                  <label>
                    <span data-translate>Name</span><span>: </span>
                  </label>
                  <span>{{item.organization_name}}</span>
                </div>
                <div class="form-group">
                  <label>
                    <span data-translate>Email address</span><span>: </span>
                  </label>
                  <span>{{item.organization_email}}</span>
                </div>
                <div class="form-group">
                  <label>
                    <span data-translate>Address</span><span>: </span>
                  </label>
                  <span>{{item.organization_location}}</span>
                </div>
                <div class="form-group">
                  <label>
                    <span data-translate>Phone number</span><span>: </span>
                  </label>
                  <span>{{item.phone}}</span>
                </div>
                <div class="form-group">
                  <label>
                    <span data-translate>Fiscal code</span><span>: </span>
                  </label>
                  <span>{{item.organization_tax_code}}</span>
                </div>
                <div class="form-group">
                  <label>
                    <span data-translate>Tax code</span><span>: </span>
                  </label>
                  <span>{{item.organization_vat_code}}</span>
                </div>
              </div>
              <label data-translate>User</label><span>: </span>
              <div class="ms-4">
                <div class="form-group">
                  <label>
                    <span data-translate>Name</span><span>: </span>
                  </label>
                  <span>{{item.name}}</span>
                </div>
                <div class="form-group">
                  <label>
                    <span data-translate>Surname</span><span>: </span>
                  </label>
                  <span>{{item.surname}}</span>
                </div>
                <div class="form-group">
                  <label>
                    <span data-translate>Language</span><span>: </span>
                  </label>
                  <span>{{item.language}}</span>
                </div>
                <div class="form-group">
                  <label>
                    <span data-translate>Email address</span><span>: </span>
                  </label>
                  <span>{{item.email}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </src-collapsible-card>
  </ng-template>
</app-paginated-interface>
