<form name="statisticsForm" #statisticsForm="ngForm" novalidate class="reveal">
  <src-tabs>
    <ng-template srcTab="statistics" title="Statistics" [visible]="isAnalyst">
      @if (defaultTemplate) {
        <src-statistical-template-view [templateData]="defaultTemplate" [templatesData]="templatesData" [statisticsData]="statistics()"></src-statistical-template-view>
      }
    </ng-template>
    <ng-template srcTab="statistical_reports" title="Statistical reports" [visible]="isAnalyst">
      <src-statistical-reports-tab [statisticsForm]="statisticsForm"></src-statistical-reports-tab>
    </ng-template>
    <ng-template srcTab="templates" title="Templates" [visible]="canConfigureTemplates">
      <src-statistical-templates-tab [statisticsForm]="statisticsForm"></src-statistical-templates-tab>
    </ng-template>
  </src-tabs>
</form>
