<app-paginated-interface [mode]="'table'" [items]="table.result" [orderBy]="table.orderBy" [orderDesc]="table.orderDesc">
  <ng-template #header>
    <tr>
      <th scope="col" appTableHeader [state]="table" [label]="'ID' | translate"></th>
      <th scope="col" appTableHeader [state]="table" [label]="'Username' | translate" sortBy="username"></th>
      <th scope="col" appTableHeader [state]="table" [label]="'Role' | translate" sortBy="role" filter="role" [options]="roleOptions"></th>
      <th scope="col" appTableHeader [state]="table" [label]="'Name' | translate" sortBy="name"></th>
      <th scope="col" appTableHeader [state]="table" label="2FA" sortBy="two_factor"></th>
      <th scope="col" appTableHeader [state]="table" [label]="'Creation date' | translate" sortBy="creation_date" filter="creation_date"></th>
      <th scope="col" appTableHeader [state]="table" [label]="'Last access' | translate" sortBy="last_login" filter="last_login"></th>
    </tr>
  </ng-template>
  <ng-template #content let-data="item" let-index="index">
    <tr>
      <td>{{data.id}}</td>
      <td>{{data.username}}</td>
      <td>{{data.role}}</td>
      <td>{{data.name}}</td>
      <td>
        @if (data.two_factor) {<i class="fas fa-xmark"></i>}
        @if (!data.two_factor) {<i class="fas fa-check"></i>}
      </td>
      <td>{{data.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
      <td>{{data.last_login | date:'dd-MM-yyyy HH:mm'}}</td>
    </tr>
  </ng-template>
</app-paginated-interface>
<div class="d-flex justify-content-end"><button class="btn btn-sm btn-link" type="button" (click)="exportAuditLog()"><i class="fas fa-download"></i><span>{{ 'Export' | translate }}</span></button></div>
