<div id="TipPagefileUpload" class="card card-default" [attr.aria-expanded]="collapsed">
    <div class="card-header clearfix"  (click)="collapsed = !collapsed; utilsService.stopPropagation($event);">
      <span>{{'Files attached by recipients' | translate}}</span>
      <span class="float-end">
        <i *ngIf="!collapsed" class="fa-solid fa-chevron-up" data-toggle="tooltip" [title]="'Collapse' | translate"></i>
        <i *ngIf="collapsed" class="fa-solid fa-chevron-down" data-toggle="tooltip" [title]="'Expand' | translate"></i>
    </span>
    </div>
    <div class="card-body" *ngIf="!collapsed">

      <div *ngFor="let file of files | orderBy: 'creation_date' as index">
        <div id="file-{{index}}" >
            <src-wbfiles  [wbFile]="file"></src-wbfiles>
        </div>
      </div>

      <div>
        <div>{{'Upload a file:' | translate}}</div>
        <div class="form">
          <div class="input-group">
            <span class="input-group-prepend">
              <span class="input-group-text rounded-end-0" data-translate>Description</span>
            </span>
            <input type="text" class="form-control" id="upload_description"/>
            <span class="input-group-append">
              <label for="customFile" class="btn btn-primary rounded-start-0 m-0"  [ngClass]="{'disabled': checkingFile}">
                <i class="fa-solid fa-upload"></i>
                <span>{{'Upload'|translate}}</span>
              </label>
              <input #uploader id="customFile" type="file" (change)="addFile(uploader)" style="display: none;" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  