<div id="ReviewFormCard" class="card card-default">
    <div class="card-header d-flex justify-content-between">
        <span>Review Form</span>
    </div>
    <div class="card-body">
        <form #submissionForm="ngForm" id="SubmissionForm" (ngFormChange)="onFormChange()" (ngSubmit)="onSubmit()">
            <div *ngFor="let field of fields" class="form-group">
                <src-tip-field-question-entry (validityChange)="onFieldValidityChange($event.isValid, $event.fieldId)" [field]="field" [fieldAnswers]="fieldAnswers"></src-tip-field-question-entry>
            </div>     
            
            <button id="SubmitButton" class="btn btn-primary" [disabled]="tipStatus !== 'opened' || !submissionForm.valid || !isFormValid" type="submit">{{'Chiudi Istruttoria'|translate}}</button>
        </form>                    
    </div>
</div>