<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="antivirus-clamd-ip">{{ 'Host' | translate }}</label>
      <input id="antivirus-clamd-ip" name="antivirus_clamd_ip" class="form-control" [(ngModel)]="nodeData.antivirus_clamd_ip" type="text" />
    </div>

    <div class="form-group">
      <label for="antivirus-clamd-port">{{ 'Port' | translate }}</label>
      <input id="antivirus-clamd-port" name="antivirus_clamd_port" class="form-control" [(ngModel)]="nodeData.antivirus_clamd_port" type="number" min="1" max="65535" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary me-2" id="save_antivirus_settings" data-cy="save-antivirus-settings" (click)="save()" type="submit">
        <i class="fa-solid fa-check"></i>
        <span>{{ 'Save' | translate }}</span>
      </button>
      @if (!nodeData.antivirus_enabled) {
        <button class="btn btn-primary me-2" id="antivirus-enable" data-cy="antivirus-enable" (click)="toggleAntivirus()">{{ 'Enable' | translate }}</button>
      }
      @if (nodeData.antivirus_enabled) {
        <button class="btn btn-danger me-2" id="antivirus-disable" data-cy="antivirus-disable" (click)="toggleAntivirus()">{{ 'Disable' | translate }}</button>
      }
      <button class="btn btn-danger" id="antivirus-reset" data-cy="antivirus-reset" (click)="resetAntivirus()">{{ 'Reset' | translate }}</button>
    </div>
  </div>
</div>
