<div class="row">
  <div class="col-md-6">
    <input name="node.dataModel.languages_enabled" [(ngModel)]="nodeResolver.dataModel.languages_enabled" type="hidden" />
    <input name="node.dataModel.default_language" [(ngModel)]="nodeResolver.dataModel.default_language" type="hidden" />
    <src-selection-editor
      label="Languages"
      [hideLabel]="true"
      addButtonClass="add-language-btn"
      adderId="LanguageAdder"
      [options]="languageOptions"
      [selected]="enabledLanguages"
      [defaultId]="nodeResolver.dataModel.default_language"
      (entryAdded)="enableLanguage($event)"
      (entryRemoved)="removeLang($event.index, $event.id)"
      (defaultPicked)="nodeResolver.dataModel.default_language = $event">
    </src-selection-editor>
    <div class="form-group">
      <button class="btn btn-primary" id="save_language" [disabled]="contentForm().invalid" (click)="updateNode()" type="submit">
        <i class="fas fa-check"></i>
        <span>{{ 'Save' | translate }}</span>
      </button>
    </div>
  </div>
</div>
