<div srcCollapsiblePanel id="AttachedWBFile" class="card card-default" [collapsed]="collapsed" [label]="'Files attached by recipients' | translate" (toggle)="toggleCollapse()">
  @if (!collapsed) {
    <div class="card-body">
      @for (wbfile of wbTipService.tip.rfiles | orderBy: 'creation_date'; track wbfile) {
        <div>
          <div id="rfile-{{index()}}">
            <src-wbfiles [ctx]="ctx()" (updated)="listenToWbfiles($event)" [receivers_by_id]="receivers_by_id()" [wbFile]="wbfile"></src-wbfiles>
          </div>
        </div>
      }
    </div>
  }
</div>
