@if (RTips.dataModel) {
  <div id="Toolbar" class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-1">
          <a id="link-home" routerLink="/recipient/home" ngbTooltip="{{'Back' | translate}}" class="btn btn-outline-secondary" [attr.aria-label]="'Back' | translate">
            <i class="fas fa-arrow-left"></i>
          </a>

          <button id="tip-action-enter-report" type="button" (click)="enterReport()" ngbTooltip="{{'Enter a report' | translate}}" [attr.aria-label]="'Enter a report' | translate"
            class="btn btn-outline-secondary">
            <i class="fas fa-file-pen"></i>
          </button>
        </div>

        <div class="d-flex align-items-center gap-1">
          @if (selectedTips.length) {
            <button id="tip-action-export" type="button" (click)="exportTips()" ngbTooltip="{{'Export' | translate}}" class="btn btn-outline-secondary" [attr.aria-label]="'Export' | translate">
              <i class="fas fa-download"></i>
            </button>
          }

          <button id="link-reload" type="button" (click)="reload()" ngbTooltip="{{'Refresh' | translate}}"
            class="btn btn-outline-secondary">
            <i class="fas fa-arrows-rotate"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="TipList" class="row mt-2">
    <div class="col-md-12 table-responsive">
      <app-paginated-interface [mode]="'table'" [hoverRows]="true" [items]="table.result" [orderBy]="table.orderBy" [orderDesc]="table.orderDesc" [filterOptLabel]="'Show only unread' | translate" [filterOptFn]="filterNewOrUpdated">
        <ng-template #header>
          <tr>
            <th scope="col">
              @if (selectedTips.length !== RTips.dataModel.length ) {
                <button type="button" class="icon-action" id="tip-action-select-all" (click)="selectAll()" ngbTooltip="{{'Select all' | translate}}">
                  <i class="fas fa-square"></i>
                </button>
              }
              @if (selectedTips.length === RTips.dataModel.length) {
                <button type="button" class="icon-action" id="tip-action-select-all" (click)="deselectAll()" ngbTooltip="{{'Deselect all' | translate}}">
                  <i class="fas fa-square-check"></i>
                </button>
             }
            </th>
            <th scope="col" appTableHeader [state]="table" [label]="'Important' | translate" icon="fa-star" [labelHidden]="true" sortBy="important"></th>
            <th scope="col" appTableHeader [state]="table" [label]="'Reminder date' | translate" icon="fa-bell" [labelHidden]="true" sortBy="reminder_date"></th>
            <th scope="col" appTableHeader class="TipInfoContext" [state]="table" [label]="'Channel' | translate" icon="fa-inbox" sortBy="context_name" filter="context_name" [options]="channelOptions"></th>
            <th scope="col" appTableHeader class="TipInfoID" [state]="table" [label]="'ID' | translate" icon="fa-hashtag" [labelHidden]="true" sortBy="channel_progressive_sort_key"></th>
            <th scope="col" appTableHeader class="TipInfoLabel" [state]="table" [label]="'Label' | translate" icon="fa-tag" sortBy="label"></th>
            <th scope="col" appTableHeader class="TipInfoStatus" [state]="table" [label]="'Status' | translate" icon="fa-circle-dot" sortBy="submissionStatusStr" filter="submissionStatusStr" [options]="statusOptions"></th>
            <th scope="col" appTableHeader class="TipInfoSubmissionDate" [state]="table" [label]="'Report date' | translate" icon="fa-clock" sortBy="creation_date" filter="creation_date"></th>
            <th scope="col" appTableHeader class="TipInfoUpdateDate" [state]="table" [label]="'Last update' | translate" icon="fa-clock" sortBy="update_date" filter="update_date"></th>
            <th scope="col" appTableHeader class="TipInfoExpirationDate" [state]="table" [label]="'Expiration date' | translate" icon="fa-hourglass" sortBy="expiration_date" filter="expiration_date"></th>
            <th scope="col" appTableHeader class="TipInfoReadReceipt" [state]="table" [label]="'Read receipt' | translate" icon="fa-envelope-circle-check" [labelHidden]="true"></th>
            <th scope="col" appTableHeader class="TipInfoIdentity" [state]="table" [label]="'Identity' | translate" icon="fa-user" [labelHidden]="true"></th>
            <th scope="col" appTableHeader class="TipInfoRecipientCount" [state]="table" [label]="'Recipients' | translate" icon="fa-users" [labelHidden]="true" sortBy="receiver_count"></th>
            @if (appDataService.public.node.enable_scoring_system) {
              <th scope="col" appTableHeader class="TipInfoScore" [state]="table" [label]="'Score' | translate" icon="fa-ranking-star" sortBy="score" filter="score" [options]="scoreOptions"></th>
            }
          </tr>
        </ng-template>
        <ng-template #content let-tip="item" let-index="index">
          <tr id="tip-{{index}}" [class.tip-action-open]="tip.accessible" [class.fw-bold]="tip.updated" [class.selectedTip]="isSelected(tip.id)" [class.disabled]="!tip.accessible" [class]="['report-status-' + tip.status, 'report-substatus-' + tip.substatus]" (click)="tip.accessible && utils.go('/reports/' + tip.id)">
            <td>
              @if (isSelected(tip.id)) {
                <button type="button" class="icon-action" (click)="tipSwitch(tip.id); $event.stopPropagation();">
                  <i class="fas fa-square-check"></i>
                </button>
              }
              @if (!isSelected(tip.id)) {
                <button type="button" class="icon-action" (click)="tipSwitch(tip.id); $event.stopPropagation();">
                  <i class="fas fa-square"></i>
                </button>
              }
            </td>
            <td>
              @if (tip.important) {
                <i class="fas fa-star text-warning"></i>
              }
              <td>
                @if (!utils.isNever(tip.reminder_date)) {
                  <span [class.text-warning]="utils.isDatePassed(tip.reminder_date)"><i class="fas fa-bell"></i></span>
                }
              </td>
              <td class="TipInfoContext"><span class="cell-truncated" [ngbTooltip]="tip.context_name">{{tip.context_name}}</span></td>
              <td class="TipInfoID">{{tip.slug ? tip.slug + '-' : ''}}{{tip.channel_progressive}}</td>
              <td class="TipInfoLabel"><span class="cell-truncated" [ngbTooltip]="tip.label">{{tip.label}}</span></td>
              <td class="TipInfoStatus"><span class="cell-truncated" [ngbTooltip]="tip.submissionStatusStr">{{tip.submissionStatusStr}}</span></td>
              <td class="TipInfoSubmissionDate">{{tip.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
              <td class="TipInfoUpdateDate">{{tip.update_date | date:'dd-MM-yyyy HH:mm'}}</td>
              <td class="TipInfoExpirationDate">
                @if (!utils.isNever(tip.expiration_date)) {
                  <span>{{tip.expiration_date | date:'dd-MM-yyyy HH:mm'}}</span>
                }
                @if (utils.isNever(tip.expiration_date)) {
                  <span>-</span>
                }
              </td>
              <td class="TipInfoLastAccess">
                @if (tip.last_access >= tip.update_date) {
                  <span ngbTooltip="{{'The reporting person has already read the last update' | translate}} ({{tip.last_access | date:'dd-MM-yyyy HH:mm'}})"><i class="fas fa-check"></i></span>
                }
                @if (tip.last_access < tip.update_date) {
                  <span ngbTooltip="{{'The reporting person has not read the last update yet' | translate}}"><i class="fas fa-xmark"></i></span>
                }
              </td>
              <td class="TipInfoIdentity">
                @switch (tip.subscription) {
                  @case (0) {
                    <i class="fas fa-xmark"></i>
                  }
                  @case (1) {
                    <i class="fas fa-check"></i>
                  }
                  @case (2) {
                    @if (tip.data) {
                      <span ngbTooltip="{{'Subscription date: ' + (tip.data.whistleblower_identity_date | date:'dd-MM-yyyy HH:mm')}}"><i class="fas fa-check underline"></i></span>
                    }
                    @if (!tip.data) {
                      <i class="fas fa-check underline"></i>
                    }
                  }
                }
              </td>
              <td class="TipInfoRecipientCount">
                <span [ngbTooltip]="tip.receiver_names" tooltipClass="receiver-tooltip">{{tip.receiver_count}}</span>
              </td>
              @if (appDataService.public.node.enable_scoring_system) {
              <td class="TipInfoScore">
                @switch (tip.score) {
                  @case (0) {
                    <span>-</span>
                  }
                  @case (1) {
                    <span class="badge bg-primary">{{ 'Low' | translate }}</span>
                  }
                  @case (2) {
                    <span class="badge bg-primary">{{ 'Medium' | translate }}</span>
                  }
                  @case (3) {
                    <span class="badge bg-primary">{{ 'High' | translate }}</span>
                  }
                }
              </td>
              }
          </tr>
        </ng-template>
      </app-paginated-interface>
      <div class="float-end">
        @if (table.result.length > 0) {
          <button class="btn btn-sm btn-link" type="button"
            (click)="exportToCsv()">
            <i class="fas fa-download"></i>
            <span>{{ 'Export' | translate }}</span>
          </button>
        }
      </div>
    </div>
  </div>
}
