<div class="card">
    <div class="card-header">{{ 'Organization info' | translate }}</div>
    <div class="card-body text-left">
        <form #orgForm="ngForm" (ngSubmit)="checkFormValidity(orgForm)" (ngModelChange)="checkFormValidity(orgForm)">
            <div class="form-group" >
                <label for="organization_name">
                    <span>{{'Denomination'|translate}}</span>
                    <span *ngIf="!visualization || isEditable" class="text-danger">*</span>
                </label>
                <input name="denomination" class="form-control" [placeholder]="'Denomination' | translate" type="text" [(ngModel)]="orgInfo.organization_name" required [disabled]="visualization && !isEditable"
                    id="organization_name" #name="ngModel" [ngClass]="{'is-invalid': isInvalid(name), 'is-valid': isValid(name)}" (ngModelChange)="checkFormValidity(orgForm)"
                >
                <div class="invalid-feedback" *ngIf="isInvalid(name)">{{ 'Denomination is required' | translate }}</div>
            </div>

            <div class="form-group">
                <label for="pec">
                    <span>{{'PEC'|translate}}</span>
                    <span *ngIf="!visualization || isEditable" class="text-danger">*</span>
                </label>
                <input name="pec" class="form-control" [placeholder]="'PEC' | translate" type="email" [(ngModel)]="orgInfo.organization_email" required #pec="ngModel" [disabled]="visualization && !isEditable"
                    id="pec" [pattern]="emailRegexp" [ngClass]="{'is-invalid': isInvalid(pec), 'is-valid': isValid(pec)}" (ngModelChange)="checkFormValidity(orgForm)"
                >
                <div class="invalid-feedback" *ngIf="isInvalid(pec)">
                  {{ 'Invalid PEC format' | translate }}
                </div>
            </div>

            <div class="form-group" *ngIf="!visualization">
                <label for="confirmPec">
                    <span>{{'Confirm PEC'|translate}}</span>
                    <span *ngIf="!visualization" class="text-danger">*</span>
                </label>
                <input name="confirmPec" class="form-control" [placeholder]="'Confirm PEC' | translate" type="email" [(ngModel)]="pecConfirmed" required #confirmPec="ngModel" [disabled]="visualization"
                    id="confirmPec" [pattern]="emailRegexp" [ngClass]="{'is-invalid': isInvalid(confirmPec) || (pecConfirmed !== orgInfo.organization_email && confirmPecTouched), 'is-valid': isValid(confirmPec) && (pecConfirmed === orgInfo.organization_email)}"
                    (ngModelChange)="checkFormValidity(orgForm)" (blur)="onConfirmPecTouched()"
                >
                <div class="invalid-feedback" *ngIf="isInvalid(confirmPec) || (pecConfirmed !== orgInfo.organization_email)">
                  {{ 'PEC and Confirm PEC must match' | translate }}
                </div>
            </div>

            <div class="form-group">
                <label for="institutionalWebsite">
                    <span>{{'Institutional website'|translate}}</span>
                </label>
                <input name="institutionalWebsite" class="form-control" [placeholder]="'Institutional website' | translate" type="url" [(ngModel)]="orgInfo.organization_institutional_site" [disabled]="visualization && !isEditable"
                    id="institutionalWebsite" (ngModelChange)="checkFormValidity(orgForm)"
                >
            </div>
            
            <div class="form-group" *ngIf="!visualization">
                <label for="accreditationReason">
                    <span>{{'Reason'|translate}}</span>
                    <span class="text-danger">*</span>
                </label>
                <textarea name="accreditationReason" class="form-control" [placeholder]="'Reason' | translate" [(ngModel)]="orgInfo.organization_accreditation_reason" required #reason="ngModel"
                    id="accreditationReason" [ngClass]="{'is-invalid': isInvalid(reason), 'is-valid': isValid(reason)}" (ngModelChange)="checkFormValidity(orgForm)">
                </textarea>
                <div class="invalid-feedback" *ngIf="isInvalid(reason)">
                  {{ 'Reason is required' | translate }}
                </div>
            </div>
        </form>
    </div>
</div>