<div class="reveal">
  <div id="Toolbar" class="row">
    <div class="col-md-12">
      <a
        id="link-tiplist"
        (click)="backClicked()"
        data-toggle="tooltip"
        title="{{ 'Reports' | translate }}"
        class="btn btn-outline-secondary"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </a>
    </div>

    <div class="reveal">
      <div id="TipPageDetails" class="card card-default mt-2">
        <div class="card-header clearfix">
          <span>{{ "Details" | translate }}</span>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{ "Organization" | translate }}</th>
                  <th>{{ "Date" | translate }}</th>
                  <th>{{ "File sent" | translate }}</th>
                  <th>{{ "Status" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="detail">
                  <td>{{ detail.organization }}</td>
                  <td>{{ detail.date }}</td>
                  <td>{{ detail.fileSent }}</td>
                  <td>{{ detail.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <div id="TipPageDetails" class="card card-default">
          <div class="card-header clearfix">
            <span>{{ "Text" | translate }}</span>
          </div>
          <div class="card-body">
            <span id="TipDetailText">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div id="TipPageDetails" class="card card-default">
          <div class="card-header clearfix">
            <span>{{ "Review form" | translate }}</span>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="tipologia">Tipologia istruttoria avviata</label>
                <input
                  type="text"
                  class="form-control"
                  id="tipologia"
                  name="tipologia"
                  disabled
                />
              </div>
              <div class="form-group">
                <label for="dannoStimato">Danno stimato</label>
                <input
                  type="text"
                  class="form-control"
                  id="dannoStimato"
                  name="dannoStimato"
                  disabled
                />
              </div>
              <div class="form-group">
                <label for="dannoRecuperato">Danno recuperato</label>
                <input
                  type="text"
                  class="form-control"
                  id="dannoRecuperato"
                  name="dannoRecuperato"
                  disabled
                />
              </div>
              <div class="form-group">
                <label for="esito">Esito istruttoria</label>
                <input
                  type="text"
                  class="form-control"
                  id="esito"
                  name="esito"
                  disabled
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <src-sendtip-details-files
      [files]="files"
      (fileUploaded)="onFileUploaded($event)"
      (fileVerified)="onFileVerified($event)"
      (fileDeleted)="onFileDeleted($event)"
    >
    </src-sendtip-details-files>
    <src-tip-comments></src-tip-comments>
  </div>
</div>
