<div class="reveal">
  <div id="Toolbar" class="row">
    <div class="col-md-12">
      <a
        id="link-tiplist"
        (click)="backClicked()"
        data-toggle="tooltip"
        title="{{ 'Reports' | translate }}"
        class="btn btn-outline-secondary"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </a>
    </div>

    <div class="reveal">
      <div id="TipPageDetails" class="card card-default mt-2">
        <div class="card-header clearfix">
          <span>{{ "Details" | translate }}</span>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{ "Organization" | translate }}</th>
                  <th>{{ "Date" | translate }}</th>
                  <th>{{ "File sent" | translate }}</th>
                  <th>{{ "Status" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="detail">
                  <td>{{ detail.name }}</td>
                  <td>{{ detail.creation_date }}</td>
                  <td>{{ detail.files?.length }}</td>
                  <td>{{ detail.state }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <div id="TipPageDetails" class="card card-default">
          <div class="card-header clearfix">
            <span>{{ "Text" | translate }}</span>
          </div>
          <div class="card-body">
            <span id="TipDetailText">
              {{ tip && tip.questionnaires && tip.questionnaires.length > 0 ? (tip.questionnaires[0].steps[0].children[0].type==='textarea' ? tip.questionnaires[0].answers[tip.questionnaires[0].steps[0].children[0].id][0].value : null) : null }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-6">
          
        <src-tip-questionnaire-answers [tipService]="RTipService" 
                [redactMode]="false" [label]="'Form Istruttoria'"></src-tip-questionnaire-answers>
          
      </div>
    </div>
    <!-- <src-sendtip-details-files
      [files]="files"
      (fileUploaded)="onFileUploaded($event)"
      (fileVerified)="onFileVerified($event)"
      (fileDeleted)="onFileDeleted($event)"
    >
    </src-sendtip-details-files> -->

    <sendtip-files [isSelectable]="false" ></sendtip-files>

    <!--TODO: key='oe' [organizations]="organizations"; ricaricare dati dell'inoltro a valle del caricamento? (dataToParent)="listenToFields()" -->
    <src-tip-upload-wbfile [tip]="tip" 
                    [key]="'oe'" ></src-tip-upload-wbfile>

    <src-tip-comments *ngIf="!loading" [tipService]="RTipService" [key]="'oe'" [organizations]="organizations"></src-tip-comments>
  </div>
</div>
