@if (uploading) {
  <span>{{ 'upload.uploading_files' | translate }}</span>
}

@if (!uploading && progress === 100) {
  <span>{{ 'upload.upload_completed_successfully' | translate }}</span>
}

<div id="FileUpoloadsInfo">
  @if (estimatedTime !== undefined && uploading) {
    <div>
      @if (getFormattedTime(estimatedTime); as timeObj) {
        <span>
          {{ 'upload.estimated_upload_time' | translate:{
            value: timeObj.value,
            unit: (('upload.units.' + timeObj.unit) | translate)
          } }}
        </span>
      }

      @if (progress !== undefined) {
        <div class="progress progress-striped active">
          <div 
            class="progress-bar" 
            role="progressbar" 
            [ngStyle]="{ width: progress * 105 + '%' }">
          </div>
        </div>
      }
    </div>
  }
</div><br>