<div id="TipPageFilesInfoBox" class="card card-default" aria-expanded="false">
    <div class="card-header clearfix">
        <span>{{ 'Attachments' | translate }}</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="fileList">
                <thead>
                <tr>
                    <th></th> <!-- Checkbox column -->
                    <th>{{ 'Nome file' | translate }}</th>
                    <th>{{ 'Scansione' | translate }}</th>
                    <th>{{ 'Origine' | translate }}</th>
                    <th>{{ 'Scarica' | translate }}</th>
                    <th>{{ 'Data caricamento' | translate }}</th>
                    <th>{{ 'Dimensione' | translate }}</th>
                </tr>
                </thead>
                <tbody id="fileListBody">
                <tr *ngFor="let file of files">
                    <td>
                        <ng-container *ngIf="!file.loading">
                          <input *ngIf="!file.infected" type="checkbox" (change)="toggleFileSelection(file)" [checked]="selectedFiles.includes(file)">
                        </ng-container>
                      </td>
                    <td [ngClass]="{'text-danger': file.infected}">{{ file.name }}</td>
                    <td [ngClass]="{'text-danger': file.infected}">
                        <ng-container *ngIf="!file.loading; else loadingTemplate">
                            {{ file.scanStatus }}
                        </ng-container>
                        <ng-template #loadingTemplate>
                            <i class="fa fa-spinner fa-spin"></i> <!-- Icona di caricamento -->
                        </ng-template>
                    </td>
                    <td [ngClass]="{'text-danger': file.infected}">{{ file.origin }}</td>
                    <td>
                        <button *ngIf="!file.infected && !file.loading" class="btn btn-sm btn-primary tip-action-download-file" data-toggle="tooltip" title="{{ 'Scarica' | translate }}">
                            <i class="fa-solid fa-download"></i>
                        </button>
                    </td>
                    <td [ngClass]="{'text-danger': file.infected}">
                        <ng-container *ngIf="!file.loading; else placeholderTemplate">
                            {{ file.uploadDate }}
                        </ng-container>
                    </td>
                    <td [ngClass]="{'text-danger': file.infected}">
                        <ng-container *ngIf="!file.loading; else placeholderTemplate">
                            {{ file.size }}
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #placeholderTemplate>
    -
</ng-template>