<div id="TipPageFilesInfoBox" class="card card-default" aria-expanded="false">
    <div class="card-header clearfix">
        <span>{{ 'Attachments' | translate }}</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="fileList">
                <thead>
                <tr>
                    <th *ngIf="isSelectable"></th>
                    <th>{{ 'Filename' | translate }}</th>
                    <th>{{ 'Antivirus Verification Status' | translate}}</th>
                    <th>{{ 'Origin' | translate }}</th>
                    <th>{{ 'Download' | translate }}</th>
                    <th>{{ 'Upload Date' | translate }}</th>
                    <th>{{ 'File size' | translate }}</th>
                </tr>
                </thead>
                <tbody id="fileListBody">
                <tr *ngFor="let file of files">
                    <td *ngIf="isSelectable">
                        <input *ngIf="file.status !== 'INFECTED'" type="checkbox" (change)="toggleFileSelection(file)" [checked]="selectedFiles.includes(file)">
                      </td>
                    <td [ngClass]="{'text-danger': file.status === 'INFECTED'}">{{ file.name }}</td>
                    <td [ngClass]="{'text-danger': file.status === 'INFECTED'}">
                        {{ (file.status==='PENDING' && file.verification_date ? 'Verification Expired' : file.status) | translate }}
                    </td>
                    <td [ngClass]="{'text-danger': file.status === 'INFECTED'}">{{ file.origin | translate }}</td>
                    <td>
                        <button class="btn btn-sm btn-primary tip-action-download-file" 
                            data-toggle="tooltip" title="{{ 'Download' | translate }}"
                            (click)="utilsService.downloadGenericFile(file)"
                            [disabled]="isAntivirusEnable && ((file.status === 'INFECTED' || file.status === 'PENDING') && !canDownloadInfected)">
                            <i class="fa-solid fa-download"></i>
                        </button>
                    </td>
                    <td [ngClass]="{'text-danger': file.status === 'INFECTED'}">
                        {{ file.uploadDate | date:'dd-MM-yyyy HH:mm'}}
                    </td>
                    <td [ngClass]="{'text-danger': file.status === 'INFECTED'}">
                        {{ file.size | byteFmt:2}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #placeholderTemplate>
    -
</ng-template>