<div class="whistle-blower-file card card-default">
    <div class="card-body">
        <div class="top-row clearfix">
            <span class="float-start">
                <span class="text-muted" *ngIf="ctx === 'download'">
                    <span>{{'Filename'|translate}}</span>: </span>
                <span class="filename px-1">{{wbFile.name}}</span>
            </span>
            <span *ngIf="!wbFile.isLoading" class="float-end">
                <span>
                    <button class="download-button btn btn-sm btn-primary tip-action-download-file" 
                        (click)="wbFile.status === 'VERIFIED' ? downloadWBFile(wbFile) : showModalDownload(wbFile)" [disabled]="(wbFile.status ==='PENDING' || wbFile.status ==='INFECTED') && !preferenceResolver.dataModel.can_download_infected">  
                        <i class="fa-solid fa-download"></i>
                    </button>

                    <button *ngIf="authenticationService.session?.role === 'receiver' && canDelete" class="btn btn-sm btn-danger" (click)="deleteWBFile(wbFile)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </span>
            </span>
        </div>
        <div>
            <ng-container *ngIf="wbFile.isLoading; else existingFile">
                <div class="file-info-row">
                    <span *ngIf="receivers_by_id[wbFile.author]">
                        <span>{{'From'|translate}}</span>:
                        <ng-container *ngIf="!wbFile.isLoading; else loadingTemplate">
                            <span>{{receivers_by_id[wbFile.author].name}}</span>
                        </ng-container>
                    </span>
                    <span class="px-1">
                        <span>{{'Date'|translate}}</span>:
                        <ng-container *ngIf="!wbFile.isLoading; else loadingTemplate">
                            <span>{{wbFile.creation_date | date:'dd-MM-yyyy HH:MM'}}</span>
                        </ng-container>
                    </span>
                    <span class="px-1">
                        <span>{{'Size:'|translate}}</span>
                        <ng-container *ngIf="!wbFile.isLoading; else loadingTemplate">
                            <span>{{wbFile.size | byteFmt:2}}</span>
                        </ng-container>
                    </span>
                    <span class="px-1" *ngIf="ctx === 'rtip'">
                        <span>{{'Number of downloads'|translate}}</span>:
                        <ng-container *ngIf="!wbFile.isLoading; else loadingTemplate">
                            <span>{{wbFile.downloads}}</span>
                        </ng-container>
                    </span>
                </div>
                <div *ngIf="wbFile.description">
                    <span>
                        <span class="px-1">{{'Description'|translate}}</span>:
                        <ng-container *ngIf="!wbFile.isLoading; else loadingTemplate">
                            <span> {{wbFile.description}} </span>
                        </ng-container>
                    </span>
                </div>
                <div>
                    <span class="px-1">{{'Verification Status'| translate}}</span>:
                    <ng-container *ngIf="!wbFile.isLoading; else loadingTemplate">
                        <span>{{wbFile.status | translate}}</span>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #existingFile>
        <div class="file-info-row">
            <span *ngIf="receivers_by_id[wbFile.author]">
                <span>{{'From'|translate}}</span>: <span>{{receivers_by_id[wbFile.author].name}}</span>
            </span>
            <span class="px-1">
                <span>{{'Date'|translate}}</span>: <span>{{wbFile.creation_date | date:'dd-MM-yyyy HH:MM'}}</span>
            </span>
            <span class="px-1">
                <span>{{'Size:'|translate}}</span>
                <span>{{wbFile.size | byteFmt:2}}</span>
            </span>
            <span class="px-1" *ngIf="ctx === 'rtip'">
                <span>{{'Number of downloads'|translate}}</span>: <span>{{wbFile.downloads}}</span>
            </span>
        </div>
        <div *ngIf="wbFile.description">
            <span>
                <span class="px-1">{{'Description'|translate}}</span>: <span> {{wbFile.description}} </span>
            </span>
        </div>
                <div>
                    <span class="px-1">{{'Verification Status'|translate}}</span>: <span>{{wbFile.status | translate}}</span>
                </div>
            </ng-template>
        </div>
        <ng-template #loadingTemplate>
            <i class="fa fa-spinner fa-spin"></i>
        </ng-template>
    </div>
</div>
