<a routerLink="/admin/home" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_home">
  <i class="fas fa-house"></i>
  <span>{{'Home'|translate}}</span>
</a>
@if (permissions.can_manage_settings) {
  <a routerLink="/admin/settings" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_settings">
    <i class="fas fa-sliders"></i>
    <span>{{'Settings'|translate}}</span>
  </a>
}
@if (permissions.can_manage_users || permissions.can_manage_user_profiles) {
  <a routerLink="/admin/users" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_users">
    <i class="fas fa-users"></i>
    <span>{{'Users'|translate}}</span>
  </a>
}
@if (permissions.can_manage_questionnaires) {
  <a routerLink="/admin/questionnaires" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_questionnaires">
    <i class="fas fa-circle-question"></i>
    <span>{{'Questionnaires'|translate}}</span>
  </a>
}
@if (permissions.can_manage_channels) {
  <a routerLink="/admin/channels" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_channels">
    <i class="fas fa-inbox"></i>
    <span>{{'Channels'|translate}}</span>
  </a>
}
@if (permissions.can_manage_case_management && !nodeResolver.dataModel.is_profile) {
  <a routerLink="/admin/casemanagement" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_case_management">
    <i class="fas fa-bars-progress"></i>
    <span>{{'Case management'|translate}}</span>
  </a>
}
@if (permissions.can_configure_statistical_report_templates) {
  <a routerLink="/admin/statistics" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_statistics">
    <i class="fas fa-chart-pie"></i>
    <span>{{'Statistics'|translate}}</span>
  </a>
}
@if (permissions.can_manage_notifications && !nodeResolver.dataModel.is_profile) {
  <a routerLink="/admin/notifications" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_notifications">
    <i class="fas fa-envelope"></i>
    <span>{{'Notifications'|translate}}</span>
  </a>
}
@if (permissions.can_manage_network && (nodeResolver.dataModel.root_tenant || authenticationService.session.properties.management_session) && !nodeResolver.dataModel.is_profile) {
  <a routerLink="/admin/network" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_network">
    <i class="fas fa-network-wired"></i>
    <span>{{'Network'|translate}}</span>
  </a>
}
@if (permissions.can_manage_sites && nodeResolver.dataModel.root_tenant && !nodeResolver.dataModel.is_profile) {
  <a routerLink="/admin/sites" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_sites">
    <i class="fas fa-sitemap"></i>
    <span>{{'Sites'|translate}}</span>
  </a>
}
@if (permissions.can_manage_auditlog && !nodeResolver.dataModel.is_profile) {
  <a routerLink="/admin/auditlog" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_audit_log">
    <i class="fas fa-clipboard-list"></i>
    <span>{{'Audit log'|translate}}</span>
  </a>
}
@if (permissions.can_manage_support && !nodeResolver.dataModel.is_profile) {
  <a routerLink="/admin/support" routerLinkActive="active" ariaCurrentWhenActive="page" id="admin_support">
    <i class="fas fa-life-ring"></i>
    <span>{{'Support'|translate}}</span>
  </a>
}
