<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="idp-issuer">OIDC Issuer URL</label>
      <input type="text" [(ngModel)]="idpIssuer" id="idp-issuer" name="issuer" class="form-control" [disabled]="isLocked()" />
    </div>

    <div class="form-group">
      <label for="idp-client-id">OIDC Client ID</label>
      <input type="text" [(ngModel)]="idpClientId" id="idp-client-id" name="client_id" class="form-control" [disabled]="isLocked()" />
    </div>

    <div class="form-group">
      <label>
        <input class="form-check-input" [(ngModel)]="idpProvisioning" name="idp_provisioning" id="idp-provisioning" type="checkbox" [disabled]="isLocked()" />
        <span>{{'Create the accounts upon the first authentication of their users' | translate}}</span>
      </label>
    </div>

    <div class="form-group">
      <button class="btn btn-primary me-2" id="save" (click)="save()" type="submit" [disabled]="isLocked()">
        <i class="fa-solid fa-check"></i>
        <span>{{ 'Save' | translate }}</span>
      </button>
      @if (!nodeData.idp) {
        <button type="button" class="btn btn-primary me-2" id="idp-enable" (click)="enableIdp()" [disabled]="isInheritedTenantContext() || !isConfigurationValid()">{{ 'Enable' | translate }}</button>
      }
      @if (nodeData.idp) {
        <button type="button" class="btn btn-danger me-2" id="idp-disable" (click)="disableIdp()" [disabled]="isInheritedTenantContext()">{{ 'Disable' | translate }}</button>
      }
      <button type="button" class="btn btn-danger" id="idp-reset" (click)="resetIdp()" [disabled]="isInheritedTenantContext()">{{ 'Reset' | translate }}</button>
    </div>
  </div>
</div>
