<ng-container *ngIf="AReqs.dataModel && AReqs.dataModel && filteredReqs">
    <div id="Toolbar" class="row">
        <div class="col-md-12">
            <a id="link-home" routerLink="/recipient/home" data-toggle="tooltip" title="{{'Home' | translate}}" class="btn btn-outline-secondary">
                <i class="fa-solid fa-arrow-left"></i>
            </a>

            <span id="req-action-reload" (click)="reload()" data-toggle="tooltip" title="{{'Refresh' | translate}}" class="btn btn-outline-secondary">
                <i class="fa-solid fa-sync"></i>
            </span>

            <span id="SearchFilter" class="w-auto d-inline-block">
                <span class="input-group ">
                    <input type="text" class="form-control" placeholder="{{'Search' | translate}}" [(ngModel)]="search" (ngModelChange)="onSearchChange($event)">
                    <div class="input-group-append">
                        <button class="input-group-text h-100 rounded-start-0">
                            <i class="fa-solid fa-search"></i>
                        </button>
                    </div>
                </span>
            </span>
        </div>
    </div>
    <div id="ReqList" class="row mt-2">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped" id="reqList">
                <thead>
                <tr>
                    <th class="ReqInfoID" >
                        <span (click)="sortKey = 'id'; sortReverse = !sortReverse">
                            <i class="fa-solid fa-hashtag"></i>
                            <span *ngIf="sortKey === 'id'">
                                <span *ngIf="!sortReverse" class="fa-solid fa-caret-down"></span>
                                <span *ngIf="sortReverse" class="fa-solid fa-caret-up"></span>
                            </span>
                        </span>
                    </th>                    
                    <th class="ReqInfoDenomination">
                        <span (click)="sortKey = 'organization_name'; sortReverse = !sortReverse">
                            <i class="fa-solid fa-address-card"></i>
                            <span>{{'Denomination' | translate}}</span>
                            <span *ngIf="sortKey === 'organization_name'">
                                <span *ngIf="!sortReverse" class="fa-solid fa-caret-down"></span>
                                <span *ngIf="sortReverse" class="fa-solid fa-caret-up"></span>
                            </span>
                        </span>
                    </th>
                    <th class="ReqInfoType">
                        <span (click)="sortKey = 'type'; sortReverse = !sortReverse">
                            <i class="fa-solid fa-tag"></i>
                            <span>{{'Type' | translate}}</span>
                            <span *ngIf="sortKey === 'type'">
                                <span *ngIf="!sortReverse" class="fa-solid fa-caret-down"></span>
                                <span *ngIf="sortReverse" class="fa-solid fa-caret-up"></span>
                            </span>
                        </span>
                    </th>
                    
                    <th class="ReqInfoAccreditationDate">
                        <span (click)="sortKey = 'accreditation_date'; sortReverse = !sortReverse">
                            <i class="fa-solid fa-calendar"></i>
                            <span>{{'Accreditation Date' | translate}}</span>
                            <span *ngIf="sortKey === 'accreditation_date'">
                                <span *ngIf="!sortReverse" class="fa-solid fa-caret-down"></span>
                                <span *ngIf="sortReverse" class="fa-solid fa-caret-up"></span>
                            </span>
                        </span>
                    </th>
                    
                    <th class="ReqInfoUsersCount">
                        <span (click)="sortKey = 'num_user_profiled'; sortReverse = !sortReverse">
                          <i class="fa-solid fa-users"></i>
                          <span>{{'Users' | translate}}</span>
                          <span *ngIf="sortKey === 'num_user_profiled'">
                            <span *ngIf="!sortReverse" class="fa-solid fa-caret-down"></span>
                            <span *ngIf="sortReverse" class="fa-solid fa-caret-up"></span>
                          </span>
                        </span>
                    </th>

                    <th class="ReqInfoTipsCount">
                        <span (click)="sortKey = 'opened_tips'; sortReverse = !sortReverse">
                          <i class="fa-solid fa-file"></i>
                          <span>{{'Tips' | translate}}</span>
                          <span *ngIf="sortKey === 'opened_tips'">
                            <span *ngIf="!sortReverse" class="fa-solid fa-caret-down"></span>
                            <span *ngIf="sortReverse" class="fa-solid fa-caret-up"></span>
                          </span>
                        </span>
                    </th>

                    <th class="ReqInfoClosedCount">
                        <span (click)="sortKey = 'closed_tips'; sortReverse = !sortReverse">
                          <i class="fa-solid fa-lock"></i>
                          <span>{{'Closed' | translate}}</span>
                          <span *ngIf="sortKey === 'closed_tips'">
                            <span *ngIf="!sortReverse" class="fa-solid fa-caret-down"></span>
                            <span *ngIf="sortReverse" class="fa-solid fa-caret-up"></span>
                          </span>
                        </span>
                    </th>

                    <th class="ReqInfoState">
                        <span (click)="sortKey = 'state'; sortReverse = !sortReverse">
                            <i class="fa-solid fa-circle-dot"></i>
                            <span>{{'Status' | translate}}</span>
                            <span *ngIf="sortKey === 'state'">
                                <span *ngIf="!sortReverse" class="fa-solid fa-caret-down"></span>
                                <span *ngIf="sortReverse" class="fa-solid fa-caret-up"></span>
                            </span>
                        </span>
                    </th>

                </tr>
                </thead>
                <tbody id="reqListTableBody">
                <ng-container *ngFor="let req of orderbyCast(filteredReqs | orderBy:sortKey:sortReverse) | slice:((currentPage - 1) * itemsPerPage):((currentPage - 1) * itemsPerPage + itemsPerPage) let index = index">
                    <tr id="req-{{index}}"  class="pointer" (click)="utils.go('/organizations/' + req.id)">

                        <td class="ReqInfoID">
                            {{req.id}}
                        </td>           

                        <td class="ReqInfoDenomination">
                            {{req.organization_name}}
                        </td>

                        <td class="ReqInfoType">
                            {{req.type | translate}}
                        </td>
                        
                        <td class="ReqInfoAccreditationDate">
                            {{req.accreditation_date | date:'dd-MM-yyyy HH:mm'}}
                        </td>
                        
                        <td class="ReqInfoUsersCount">
                            {{req.num_user_profiled}}
                        </td>
    
                        <td class="ReqInfoTipsCount">
                            {{req.opened_tips}}
                        </td>
    
                        <td class="ReqInfoClosedCount">
                            {{req.closed_tips}}
                        </td>
    
                        <td class="ReqInfoState">
                            {{req.state | translate}}
                        </td>


                    </tr>
                </ng-container>
                </tbody>
            </table>
            <div class="text-center" *ngIf="filteredReqs.length > itemsPerPage">
                <ngb-pagination class="pagination-sm" [collectionSize]="filteredReqs.length" [(page)]="currentPage" [pageSize]="itemsPerPage" [maxSize]="10" [rotate]="true" [ellipses]="true" [boundaryLinks]="true">
                    <ng-template ngbPaginationPrevious> &lt; {{ 'Previous' | translate }}
                    </ng-template>
                    <ng-template ngbPaginationNext>
                        {{ 'Next' | translate }} &gt;
                    </ng-template>
                    <ng-template ngbPaginationFirst> &lt;&lt; {{ 'First' | translate }}
                    </ng-template>
                    <ng-template ngbPaginationLast>
                        {{ 'Last' | translate }} &gt;&gt;
                    </ng-template>
                </ngb-pagination>
            </div>
            
        </div>
    </div>
</ng-container>