<div class="modal-header">
  <h5 id="modal-title" class="modal-title">{{ 'Access code' | translate }}</h5>
  <button type="button" class="btn-close" (click)="dismiss()" [attr.aria-label]="'Close' | translate"><i class="fa-solid fa-circle-xmark" aria-hidden="true"></i></button>
</div>
<div class="modal-body">
  <span class="form-inline" role="presentation" ngbTooltip="{{ 'Copy to clipboard' | translate }}" (click)="utilsService.copyToClipboard(code)">
    <div class="form-group d-block mx-auto receipt-input">
      <div class="input-group">
        <input id="AccessCode" class="form-control text-center" type="text" maxlength="19" size="19" [value]="formattedCode" readonly [attr.aria-label]="'Access code' | translate">
        <span class="input-group-append">
          <button id="AccessCodeCopyButton" (click)="utilsService.copyToClipboard(code)" class="btn btn-primary m-0 rounded-start-0" type="button" [attr.aria-label]="'Copy to clipboard' | translate">
            <i class="fas fa-copy"></i>
          </button>
        </span>
      </div>
    </div>
  </span>
</div>
<div class="modal-footer">
  <button (click)="dismiss()" id="close" class="btn btn-outline-secondary">{{ 'Close' | translate }}</button>
</div>
