<app-paginated-interface [mode]="'table'" [items]="this.filteredAuditLog">
  <ng-template #header>
    <tr>
      <th>
        <span>{{'Date'|translate}}</span>
        <span class="ngb-datepicker-container ms-1" (click)="$event.stopPropagation()">
          <i class="fas fa-calendar" [ngClass]="{'filter-active': dateFilter}" (click)="datePicker=!datePicker;typeDropdownVisible=false;$event.stopPropagation();"></i>
          <div [hidden]="!datePicker" (click)="$event.stopPropagation()">
            <ngbd-datepicker-range class="position-absolute d-block" [currentDates]="dateModel" (emitDateSelection)="onDateFilterChange($event)"></ngbd-datepicker-range>
          </div>
        </span>
      </th>
      <th>
        <span>{{'Type'|translate}}</span>
        <span class="dropdown-multi-select-container ms-1" (click)="$event.stopPropagation()">
          <i class="fas fa-filter" [ngClass]="{ 'filter-active': checkTypeFilter(dropdownTypeModel) }" (click)="toggleTypeDropdown();$event.stopPropagation();"></i>
          <span [class.d-none]="!typeDropdownVisible" (click)="$event.stopPropagation()">
            <ng-multiselect-dropdown [class.dropdown-visible]="typeDropdownVisible" [settings]="dropdownSettings" [data]="dropdownTypeData" [(ngModel)]="dropdownTypeModel" (ngModelChange)="onTypeFilterChange($event)"></ng-multiselect-dropdown>
          </span>
        </span>
      </th>
      <th>{{'User'|translate}}</th>
      <th>{{'Object'|translate}}</th>
    </tr>
  </ng-template>
  <ng-template #content let-data="item" let-index="index">
    <tr>
      <td>{{ data.date | date:'dd-MM-yyyy HH:mm' }}</td>
      <td>
        <span class="badge bg-light text-dark">
          <span [class]="getTypeDotColor(data.type)"><i class="fa-solid fa-circle"></i></span> <span>{{ data.type }}</span>
        </span>
      </td>
      <td>{{ getUserName(data.type, data.user_id || '') }}</td>
      <td>{{ data.object_id }}</td>
    </tr>
  </ng-template>
</app-paginated-interface>
<div class="d-flex justify-content-end"><button class="btn btn-sm btn-link" type="button" (click)="exportAuditLog()"><i class="fas fa-download"></i><span>{{ 'Export' | translate }}</span></button> @if (nodeResolver.dataModel.root_tenant) { <span><a class="btn btn-sm btn-link" type="button" (click)="utilsService.saveAs(authenticationService, 'globaleaks.log', '/api/admin/auditlog/debug')"><i class="fas fa-download"></i> globaleaks.log </a><a class="btn btn-sm btn-link" type="button" (click)="utilsService.saveAs(authenticationService, 'access.log', '/api/admin/auditlog/access')"><i class="fas fa-download"></i> access.log</a></span>
}</div>
