<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>
        <input class="form-check-input" [(ngModel)]="nodeResolver.dataModel.adminonly" name="nodeResolver.dataModel.adminonly" type="checkbox" />
        <span>{{'Use the first site for administrative purposes only'|translate}}</span>
      </label>
    </div>
    <div class="form-group">
      <label for="rootdomain-input">{{'Root domain used for secondary sites'|translate}}</label>
      <div>
        <input id="rootdomain-input" name="rootdomain" class="form-control" [(ngModel)]="nodeResolver.dataModel.rootdomain" type="text" />
      </div>
    </div>
    @if (!nodeResolver.dataModel.adminonly) {
      <div>
        <div class="form-group">
          <label>
            <input name="enable_signup" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.enable_signup" type="checkbox" />
            <span>{{'Allow users to sign up'|translate}}</span>
          </label>
        </div>
        @if (nodeResolver.dataModel.enable_signup) {
          <div>
            <div class="form-group">
              <label>
                <input name="signup_invite_only" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.signup_invite_only" type="checkbox" />
                <span>{{'Invite only'|translate}}</span>
              </label>
            </div>
            <div class="form-group">
              <label>
                <input name="signup_auto_authorize" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.signup_auto_authorize" type="checkbox" />
                <span>{{'Automatically authorize newly registered sites'|translate}}</span>
              </label>
            </div>
            <div class="form-group">
              <label>
                <input name="signup_request_organization" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.signup_request_organization" type="checkbox" />
                <span>{{'Organization'|translate}}</span>
              </label>
            </div>
            <div class="form-group">
              <label>
                <input name="signup_request_subdomain" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.signup_request_subdomain" type="checkbox" />
                <span>{{'Site'|translate}}</span>
              </label>
            </div>
            <div class="form-group">
              <label for="signup-profile-select">{{'Profile'|translate}}</label>
              <select id="signup-profile-select" name="signup_profile" class="form-select-custom" [(ngModel)]="nodeResolver.dataModel.signup_profile">
                <option value="default">DEFAULT</option>
                @for (profile of siteProfiles; track profile.id) {
                  @if (profile.active) {
                    <option [value]="profile.uuid">{{profile.name}}</option>
                  }
                }
              </select>
            </div>
            <div class="form-group">
              <label>
                <input name="signup_tos1_enable" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.signup_tos1_enable" type="checkbox" />
                <span>{{'Enable terms of service'|translate}}</span>
                <span>#1</span>
              </label>
              @if (nodeResolver.dataModel.signup_tos1_enable) {
                <div class="nested">
                  <div class="form-group">
                    <label for="signup-tos1-title">{{'Title'|translate}}</label>
                    <input id="signup-tos1-title" name="signup_tos1_title" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos1_title" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="signup-tos1-text">{{'Text'|translate}}</label>
                    <div>
                      <textarea id="signup-tos1-text" name="signup_tos1_text" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos1_text" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="signup-tos1-checkbox-label">{{'Checkbox label'|translate}}</label>
                    <input id="signup-tos1-checkbox-label" name="signup_tos1_checkbox_label" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos1_checkbox_label" type="text" />
                  </div>
                </div>
              }
            </div>
            <div class="form-group">
              <label>
                <input name="signup_tos2_enable" class="form-check-input" [(ngModel)]="nodeResolver.dataModel.signup_tos2_enable" type="checkbox" />
                <span>{{'Enable terms of service'|translate}}</span>
                <span>#2</span>
              </label>
              @if (nodeResolver.dataModel.signup_tos2_enable) {
                <div class="nested">
                  <div class="form-group">
                    <label for="signup-tos2-title">{{'Title'|translate}}</label>
                    <input id="signup-tos2-title" name="signup_tos2_title" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos2_title" type="text" />
                  </div>
                  <div class="form-group">
                    <label for="signup-tos2-text">{{'Text'|translate}}</label>
                    <div>
                      <textarea id="signup-tos2-text" name="signup_tos2_text" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos2_text" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="signup-tos2-checkbox-label">{{'Checkbox label'|translate}}</label>
                    <input id="signup-tos2-checkbox-label" name="signup_tos2_checkbox_label" class="form-control" [(ngModel)]="nodeResolver.dataModel.signup_tos2_checkbox_label" type="text" />
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
    <button class="btn btn-primary" id="save" (click)="utilsService.updateNode(nodeResolver.dataModel)">
      <i class="fas fa-check"></i>
      <span>{{'Save'|translate}}</span>
    </button>
  </div>
</div>
