<div *ngIf="forwardings.length" id="TipPageFilesInfoBox" class="card card-default" [attr.aria-expanded]="collapsed">
    <div class="card-header clearfix" (click)="collapsed = !collapsed; $event.stopPropagation();">
        <span>{{ 'Forwarded tips' | translate }}</span>
        <span class="float-end">
            <i *ngIf="!collapsed" class="fa-solid fa-chevron-up" data-toggle="tooltip" [title]="'Collapse' | translate"></i>
            <i *ngIf="collapsed" class="fa-solid fa-chevron-down" data-toggle="tooltip" [title]="'Expand' | translate"></i>
        </span>
    </div>
    <div class="card-body" *ngIf="!collapsed">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'Organization' | translate }}</th>
                    <th>{{ 'Date' | translate }}</th>
                    <th>{{ 'Files' | translate }}</th>
                    <th>{{ 'Comments' | translate }}</th>
                    <th>{{ 'Status' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let item of forwardings">
                    <tr role="button" (click)="goToDetailPage(item)">
                        <td>{{ item.name }}</td>
                        <td>{{ item.creation_date | date:'dd-MM-yyyy HH:mm' }}</td>
                        <td>{{ item.files? item.files.length : '-' }}</td>
                        <td>{{ item.comments? item.comments.length : '-' }}</td>
                        <td>{{ item.state | translate}}</td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
