<div *ngIf="field.enabled">


    <label class="question-label" data-content="field.hint" data-toggle="tooltip" [title]="field.hint" [for]="field.id">
        <span *ngIf="field.label" class="title">{{field.label|translate}}</span>
        <i *ngIf="field.hint" class="fa-solid fa-question-circle"></i>
        <span *ngIf="field.required" class="text-danger sup" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
    </label>


    <ng-container [ngSwitch]="field.type">

        <div class="form-group">
            <input *ngSwitchDefault type="text" class="form-control" [id]="field.id" [name]="field.id" [(ngModel)]="fieldAnswers[field.id][0].value" />
        </div>
        
        <div class="form-group" *ngSwitchCase="'selectbox'">
            <select class="form-control" [id]="field.id" [name]="field.id" [(ngModel)]="fieldAnswers[field.id][0].value">
                <option *ngFor="let option of field.options"  (change)="setOption(option, fieldAnswers[field.id][0])"  [value]="option.id">{{ option.label }}</option>
            </select>
        </div>
        

        <div *ngSwitchCase="'checkbox'" class="form-group">            
            <div *ngFor="let option of field.options | orderBy:field.attrs.display_alphabetically.value ? 'label' : 'order'; let index = index">
                <input type="checkbox" (change)="setOption(option, fieldAnswers[field.id][0])" [id]="option.label" [name]="field.id" [value]="option.id" [(ngModel)]="fieldAnswers[field.id][0][option.id]" />
                <label [for]="option.label" data-toggle="tooltip" title="{{option.hint1}}" class="form-control-label" [ngClass]="{'text-underline': option.hint1}">{{option.label}}</label>
            </div>
        </div>

        <div *ngSwitchCase="'multichoice'" class="form-group">
            <div *ngFor="let option of field.options | orderBy:'order';let innerindex = index">
                <input type="radio"  (change)="setOption(option, fieldAnswers[field.id][0])" [id]="option.label" [name]="field.id" [value]="option.id" [(ngModel)]="fieldAnswers[field.id][0].value" />
                <label [for]="option.label">{{ option.label }}</label>
            </div>
        </div>

        <div *ngSwitchCase="'date'" class="form-group">
            <div class="input-group">
                <input class="form-control inputelem" [id]="field.id" [name]="field.id" 
                [minDate]="dateOptions.min_date" [maxDate]="dateOptions.max_date" type="text" readonly="readonly" [attr.aria-label]="field.label" 
                [(ngModel)]="fieldAnswers[field.id][0].value" [required]="field.required" ngbDatepicker #datepicker="ngbDatepicker" (click)="datepicker.toggle()" />
                <span class="input-group-append btn btn-light border border-1" (click)="datepicker.toggle()">
                    <i class="fa-solid fa-calendar"></i>
                </span>
            </div>
        </div>


        <div *ngSwitchCase="'textarea'" class="form-group">
            <textarea [(ngModel)]="fieldAnswers[field.id][0].value" [id]="field.id" name="description" #textarea="ngModel" class="form-control inputelem" [required]="field.required" [attr.aria-label]="field.label" [placeholder]="field.placeholder"></textarea>
            <div class="clearfix" *ngIf="fieldAnswers[field.id][0].value">
                <div *ngIf="fieldAnswers[field.id][0].value.length && field.attrs.max_len.value > 0 && (field.attrs.max_len.value - fieldAnswers[field.id][0].value.length) <= 50" class="float-end">{{fieldAnswers[field.id][0].value.length}}/{{field.attrs.max_len.value}}
                </div>
            </div>
            <div *ngIf="displayErrors" class="text-danger">
                <span *ngIf="editField.form.get('description')?.errors?.['required']">{{'This field is mandatory'|translate}}</span>
                <span *ngIf="textarea?.errors?.['minlength']">{{'The answer is too short'|translate}}</span>
            </div>
        </div>

        <div *ngSwitchCase="'daterange'" class="form-inline d-inline-flex align-items-center">
            <span class="form-group">
                <label>{{'From'|translate}}</label>                
                <div class="input-group mx-1">
                    <input [id]="field.id+'-startDate'" [name]="field.id+'-startDate'" 
                    [(ngModel)]="input_start_date" 
                    class="form-control inputelem" [minDate]="dateOptions1" [maxDate]="dateOptions2" 
                    type="text" [readOnly]="true" [attr.aria-label]="field.label"  [required]="field.required"
                     [placeholder]="field.placeholder" ngbDatepicker #datepickerstart="ngbDatepicker" 
                     (click)="datepickerstart.toggle()" (ngModelChange)="onStartDateSelection(input_start_date)" />
                    <span class="input-group-append btn btn-light border border-1" (click)="datepickerstart.toggle()">
                        <i class="fa-solid fa-calendar"></i>
                    </span>
                </div>
            </span>
            <span class="form-group mx-1" *ngIf="input_start_date">
                <label>{{'To'|translate}}</label>
                <div class="input-group mx-1">
                    <input [id]="field.id+'-endDate'" [name]="field.id+'-endDate'" [(ngModel)]="input_end_date" 
                     class="form-control inputelem"  [minDate]="dateOptions1" [maxDate]="dateOptions2" 
                     type="text" [readonly]="true" [attr.aria-label]="field.label"  [required]="field.required" 
                     [placeholder]="field.placeholder" ngbDatepicker #datepickerend="ngbDatepicker" (click)="datepickerend.toggle()"
                     (ngModelChange)="onEndDateSelection(input_end_date)" />
                    <span class="input-group-append btn btn-light border border-1" (click)="datepickerend.toggle()">
                        <i class="fa-solid fa-calendar"></i>
                    </span>
                </div>
            </span>
            <span class="ms-1 mt-2 d-inline-flex align-items-center" *ngIf="input_start_date">
                <button type="button" class="btn btn-outline-secondary" (click)="clearDateRange()">
                    <i class="fa-solid fa-times-circle"></i>
                </button>
            </span>
        </div>


        <div *ngSwitchCase="'tos'">
            <markdown class="form-group tos-text" [data]="field.attrs.text.value | stripHtml"></markdown>
            <div *ngIf="field.attrs.attachment.value">
                <a [href]="field.attrs.attachment_url.value" rel="noreferrer" target="_blank">{{field.attrs.attachment_text.value}}</a>
            </div>
            <div class="form-check">
                <input [id]="field.id" [name]="field.id" class="inputelem" [required]="field.required" value="{{fieldAnswers[field.id][0].value}}" [(ngModel)]="fieldAnswers[field.id][0].value" type="checkbox" />
                <label for="{{field.id}}" class="form-check-label"><markdown [data]="field.attrs.checkbox_label.value | stripHtml"></markdown></label>
            </div>
        </div>

        <div [id]="field.id" *ngSwitchCase="'voice'">
            <src-voice-recorder (notifyFileUpload)="emitEvent($event)" [fileUploadUrl]="fileUploadUrl" 
            [customQuery]="{description:'', visibility:'oe', tids:[]}"
            [uploads]="uploads" [field]="field" [fieldEntry]="fieldAnswers[field.id][0]"></src-voice-recorder>
        </div>

        <div [id]="field.id" *ngSwitchCase="'fileupload'">
            <src-rfile-upload-button [customQuery]="{reference_id: field ? field.id:'', description:'', visibility:'oe', tids:[]}"
             [file_id]="field.id" (notifyFileUpload)="emitEvent($event)" [fileUploadUrl]="fileUploadUrl" [field]="field" [formUploader]="true" [uploads]="uploads" ></src-rfile-upload-button>
        </div>

        <!-- description: file.description,
            visibility: 'oe',
            fileSizeLimit: this.appDataService.public.node.maximum_filesize * 1024 * 1024,
            tids: "["+this.selectedOrganizations.map(_=> _.tid).toString()+"]" -->

        <!-- <div *ngSwitchCase="'fieldgroup'">
            <div [ngSwitch]="field.attrs.multimedia_type.value">
                <div *ngSwitchCase="'image'">
                    <img alt="media" [src]="field.attrs.multimedia_url.value" />
                </div>
                <div *ngSwitchCase="'audio'">
                    <audio controls>
                        <source [src]="field.attrs.multimedia_url.value" type="audio/mpeg" />
                    </audio>
                </div>
                <div *ngSwitchCase="'video'">
                    <video controls>
                        <source [src]="field.attrs.multimedia_url.value" type="video/mp4">
                    </video>
                </div>
            </div>
            <src-form (notifyFileUpload)="notifyFileUpload.emit()" [identity_provided]="identity_provided" [fileUploadUrl] = fileUploadUrl [fieldEntry]="fieldEntry" [displayErrors]="displayErrors" [entry]="entry" [answers]="answers" [step]="rows" [submission]="submission" [index]="index" [uploads]="uploads"></src-form>
        </div> -->
    
    </ng-container>




    <!-- && (displayErrors || validateUploadSubmission()) -->
    <div *ngIf="field.type !== 'inputbox' && field.type !== 'textarea' && field.required " class="text-danger">{{'This field is mandatory'|translate}}</div>
    
    <div *ngIf="field.type === 'selectbox'">
        <div *ngFor="let option of field.options">
            <div *ngIf="option.set && option.hint1">
                <i class="fa-solid fa-info-circle"></i> {{option.hint1}}
            </div>
        </div>
    </div>

    <div *ngFor="let option of field.options">
        <div *ngIf="option.set && option.hint2" [ngClass]="{'text-danger': option.block_submission}">
            <i class="fa-solid fa-info-circle"></i> {{option.hint2}}
        </div>
    </div>

</div>