<div>
    <div id="Toolbar" class="row">
        <div class="col-md-12">
            <a id="link-orglist" href="#/accreditor/organizations" data-toggle="tooltip" title="{{'Organizations' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-arrow-left"></i> <!--in alternativa icona per riabilitazione -->
            </a>

            <span id="org-action-suspend"
                *ngIf="isAccredited()"
                data-toggle="tooltip" title="{{'Suspend Organization' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-clock"></i>
            </span>

            <span id="org-action-reactivate"
                *ngIf="isSuspended()"
                data-toggle="tooltip" title="{{'Reactivate Organization' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-check"></i>
            </span>

            <span id="org-action-delete"
                *ngIf="isAccredited() || isSuspended()"
                data-toggle="tooltip" title="{{'Delete' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-trash"></i>
            </span>

            <span id="link-reload" data-toggle="tooltip" title="{{'Refresh' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-sync"></i>
            </span>

        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <src-org-info [orgInfo]="organizationInfo" [visualization]="true"></src-org-info>
        </div>

        <div class="col-md-4" *ngIf="!isInvited()">
            <src-org-admin-info [adminInfo]="adminInfo" [visualization]="true"></src-org-admin-info>
        </div>

        <div class="col-md-4" *ngIf="!isInvited()">
            <src-org-recipient-info [recipientInfo]="receiverInfo" [visualization]="true"></src-org-recipient-info>
        </div>
    </div>

    <div class="row" *ngIf="isAccredited() || isSuspended()">
        <div class="col-md-12" id="organization-button">
            <button class="btn btn-primary" (click)="convertiInAffiliata()">{{'Converti in Affiliata' | translate}}</button>
        </div>
    </div>

    <div class="row" *ngIf="isRequested() || isInstructorRequest()">
        <div class="col-md-12" id="organization-affiliata">
            <input name="affiliata" [(ngModel)]="org_type" type="checkbox">
            <span>{{'Affiliata'|translate}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <src-org-overview [org]="organization"></src-org-overview>
        </div>
    </div>
    
    <div class="row" *ngIf="organization.users && organization.users.length > 0">
        <div class="col-md-12">
            <src-org-users-list [users]="organization.users"></src-org-users-list>
        </div>
    </div>


    <div class="row" *ngIf="isRequested() || isInstructorRequest() || isInvited()">
        <div class="col-md-6"></div>
        <div class="col-md-3" id="accept-button">
            <button class="btn btn-primary" (click)="invia()">
                <i class="fa-solid fa-check"></i>
                <span>{{(isRequested()? 'Accetta Organizzazione Esterna': 'Inoltra Invito') | translate }}</span>
            </button>
        </div>
        <div class="col-md-3" id="reject-button">
            <button class="btn btn-danger" (click)="rifiuta()"
            *ngIf="!isInvited()">
                <i class="fa-solid fa-xmark"></i>
                <span>{{'Rifiuta Organizzazione Esterna' | translate}}</span>
            </button>
        </div>
    </div>

</div>
