<div>
    <div id="Toolbar" class="row">
        <div class="col-md-12">
            <a id="link-orglist" href="#/accreditor/organizations" data-toggle="tooltip" title="{{'Organizations' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-arrow-left"></i> 
            </a>

            <span id="org-action-suspend"
                *ngIf="isState('accredited')"
                data-action="suspend"
                (click)="onActionHandler($event)"
                (keydown)="onActionHandler($event)"
                data-toggle="tooltip" title="{{'Suspend Organization' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-clock"></i>
            </span>

            <span id="org-action-reactivate"
                *ngIf="isState('suspended')"
                data-action="reactivate"
                (click)="onActionHandler($event)"
                (keydown)="onActionHandler($event)"
                data-toggle="tooltip" title="{{'Reactivate Organization' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-check"></i>
            </span>

            <span id="org-action-delete"
                *ngIf="(isState('accredited') || isState('suspended')) && canDelete()"
                data-action="delete"
                (click)="onActionHandler($event)"
                (keydown)="onActionHandler($event)"
                data-toggle="tooltip" title="{{'Delete' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-trash"></i>
            </span>

            <span id="link-reload" 
                data-action="reload"
                (click)="onActionHandler($event)"
                (keydown)="onActionHandler($event)"
                data-toggle="tooltip"
                title="{{'Refresh' | translate}}"
                class="btn btn-outline-secondary">
                <i class="fa-solid fa-sync"></i>
            </span>

        </div>
    </div>

    <div class="row" *ngIf="organization">
        <div class="col-md-12">
            <src-org-overview [org]="organization"></src-org-overview>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <src-org-info [orgInfo]="organizationInfo" [visualization]="true" [isEditable]="isState('requested')" (formValidityChange)="onFormValidityChange($event)"></src-org-info>
        </div>

        <div class="col-md-4" *ngIf="!isState('invited') && !isState('instructor_request')">
            <src-org-admin-info [adminInfo]="adminInfo" [visualization]="true"></src-org-admin-info>
        </div>

        <div class="col-md-4" *ngIf="!isState('invited') && !isState('instructor_request')">
            <src-org-recipient-info [recipientInfo]="receiverInfo" [visualization]="true"></src-org-recipient-info>
        </div>
    </div>

    <div class="row" *ngIf="(!isState('accredited') && !isState('suspended'))">
        <div class="col-md-12" id="organization-button">
            <button class="btn btn-primary" id="affiliatedButton" (click)="aggiornaStatoAffiliazioneOrganizazzione()">
                {{ isAffiliated() ? ('Convert in Not Affiliated' | translate) : ('Convert in Affiliated' | translate) }}
            </button>
        </div>
    </div>

    <div class="row form-check" *ngIf="organization && (isState('accredited') || isState('suspended') )">

        <div class="col-md-12">
            <input name="isAffiliated" type="checkbox" [(ngModel)]="isChecked" id="isAffiliated" [disabled]="true">
            <label for="isAffiliated" class="tos-agreement-label form-check-label"> {{ 'AFFILIATED' | translate }}</label>    
        </div>

    </div>


    
    <div class="row" *ngIf="organization && organization.users && organization.users.length > 0">
        <div class="col-md-12">
            <src-org-users-list [users]="organization.users"></src-org-users-list>
        </div>
    </div>


    <div class="row" *ngIf="isState('requested') || isState('instructor_request') || isState('invited')">
        <div class="col-md-6"></div>
        <div class="col-md-3" id="accept-button">
            <button [disabled]="!isFormValid" class="btn btn-primary" (click)="invia()">
                <i class="fa-solid fa-check"></i>
                <span>{{(isState('requested')? 'Accept External Organization': 'Send Invitation') | translate }}</span>
            </button>
        </div>
        <div class="col-md-3" id="reject-button">
            <button class="btn btn-danger" (click)="rifiuta()"
            *ngIf="!isState('invited')">
                <i class="fa-solid fa-xmark"></i>
                <span>{{'Reject External Organization' | translate}}</span>
            </button>
        </div>
    </div>

</div>
