<src-collapsible-card [expanded]="editing" (toggled)="toggleEditing()" [chevron]="false">
  <ng-container cardTitle>
      <span>{{ templateData.label }}</span>
      @if (templateData.default) {
        <span class="badge bg-secondary ms-2">{{ 'Statistics' | translate }}</span>
      }
  </ng-container>
  <ng-container cardActions>
        <button type="button" class="downloadButton btn btn-sm btn-outline-secondary" data-action="export" (click)="exportTemplate(templateData)">
          <i class="fas fa-file-export"></i>
          <span>{{ 'Export' | translate }}</span>
        </button>
        @if (!editing && templateData.editable) {
          <button class="btn btn-sm btn-outline-secondary" id="edit_template" (click)="toggleEditing()">
            <span>{{ 'Edit' | translate }}</span>
          </button>
        }
        @if (!editing && !templateData.editable) {
          <button class="btn btn-sm btn-outline-secondary" id="view_template" (click)="toggleEditing()">
            <span>{{ 'View' | translate }}</span>
          </button>
        }
        @if (editing && templateData.editable) {
          <button class="btn btn-sm btn-primary" id="save_template" [disabled]="editTemplate.invalid" (click)="saveTemplate(templateData);toggleEditing()">
            <span>{{ 'Save' | translate }}</span>
          </button>
          <button class="btn btn-sm btn-outline-secondary" (click)="toggleEditing()">
            <span>{{ 'Cancel' | translate }}</span>
          </button>
        }
        @if (templateData.editable) {
          <button class="btn btn-sm btn-danger" name="delete_template" id="delete_template" (click)="deleteTemplate(templateData)">
            <span>{{ 'Delete' | translate }}</span>
          </button>
        }
  </ng-container>
  @if (editing) {
    @if (templateData.editable) {
      <div>
        <div class="form-group">
          <label>{{ 'Label' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="templateData.label" name="label" />
        </div>
      </div>
    }
    <div id="Content">
      <src-statistical-template-view
        [templateData]="templateData"
        [templatesData]="templatesData"
        [editable]="templateData.editable"
        (removeMetric)="removeMetric($event)"
        (addNewMetric)="addNewMetric()"
        (manageMetric)="manageMetric($event)">
      </src-statistical-template-view>
    </div>
  }
</src-collapsible-card>
