<form name="contentForm" #contentForm="ngForm" novalidate class="reveal">
  <src-tabs>
    <ng-template srcTab="settings" title="Settings">
      <src-tab1 [contentForm]="contentForm"></src-tab1>
    </ng-template>
    <ng-template srcTab="files" title="Files" [visible]="isAdmin">
      <src-tab2 [contentForm]="contentForm"></src-tab2>
    </ng-template>
    <ng-template srcTab="languages" title="Languages" [visible]="isAdmin">
      <src-tab3 [contentForm]="contentForm"></src-tab3>
    </ng-template>
    <ng-template srcTab="text_customization" title="Text customization" [visible]="isAdmin">
      <src-tab4 [contentForm]="contentForm"></src-tab4>
    </ng-template>
    <ng-template srcTab="backup" title="Backup" [visible]="isBackupConfigurable">
      <src-tab6 [contentForm]="contentForm"></src-tab6>
    </ng-template>
    <ng-template srcTab="advanced" title="Advanced" [visible]="isAdmin">
      <src-tab8 [contentForm]="contentForm"></src-tab8>
    </ng-template>
  </src-tabs>
</form>
