<app-paginated-interface [items]="contextsData()" [filterField]="'name'" [focusItemId]="focusContextId">
  <ng-template #toolbar>
    <button class="btn btn-primary show-add-context-btn" (click)="toggleAddContext()">
      <i class="fas fa-plus"></i>
      <span>{{ 'Add' | translate }}</span>
    </button>
  </ng-template>
  <ng-template #addForm>
    @if (showAddContext) {
      <div class="row config-section">
        <div ngForm="newContext" #newContext="ngForm" class="addContext col-md-6">
          <div class="form-group">
            <label for="new-context-name">
              <span>{{ 'Name' | translate }}</span>
              <span class="text-danger" ngbTooltip="{{'This field is mandatory' | translate}}">*</span>
            </label>
            <div [class.is-invalid]="newContext.form.get('new_context.name')?.errors?.['required']">
              <input id="new-context-name" name="new_context.name" class="form-control" [(ngModel)]="new_context.name" type="text" required />
            </div>
          </div>
          <div class="form-group">
            <button id="add-btn" class="btn btn-primary" [disabled]="newContext.invalid" (click)="addContext(); toggleAddContext()" type="submit">
              <i class="fas fa-plus"></i>
              <span>{{ 'Add' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    }
  </ng-template>
  <ng-template #content let-item="item" let-index="index">
    <form id="context-{{index}}" name="editContext" #editContext="ngForm" novalidate>
      <src-context-editor [contextResolver]="item" [editContext]="editContext" [contextsData]="contextsData()" [index]="index" [expanded]="isFocused(item)" (reorder)="swap($event.index, $event.direction)" (deleted)="onDelete($event)"></src-context-editor>
    </form>
  </ng-template>
</app-paginated-interface>
